<div *ngIf="page == 'terms'">
    <h1>
        Conditions Générales d'Utilisation (CGU) applicables à partir du 4
        septembre 2023
    </h1>
    <h2>1. Préambule</h2>
    <p>
        La plateforme MasterQuizz (ci-après « la Plateforme ») propose à ses
        utilisateurs (ci-après dénommés « les Utilisateurs ») de partager leurs
        opinions politiques, de participer à des débats et de commenter des
        sujets d'actualité. La Plateforme propose également un certain nombre de
        fonctions permettant aux Utilisateurs de se créer un profil privé ou
        public, de procéder à des recherches d'Utilisateurs, de communiquer avec
        d'autres Utilisateurs et de rejoindre des groupes représentatifs de
        communautés d'intérêts divers. Les informations publiées sur la
        Plateforme font l'objet d'un traitement statistique anonymisé. Ces
        statistiques visent à apporter une compréhension de l'opinion selon les
        profils des Utilisateurs, en fonction de nombreux critères
        socio-économiques et politiques. Les présentes conditions générales
        d'utilisation de la Plateforme MasterQuizz (ci-après dénommées « les CGU
        ») ont pour objet de décrire les conditions dans lesquelles la Société
        autorise les Utilisateurs à utiliser la Plateforme et l'ensemble des
        fonctionnalités qu'elle propose (ci-après dénommés « les Services »),
        soit en se connectant au site web dédié, accessible à l'adresse
        masterquizz.fr, soit en utilisant une application mobile éditée par ou
        autorisée par la Société. En utilisant la Plateforme, les Utilisateurs
        déclarent accepter les présentes CGU et reconnaissent que l'utilisation
        de la Plateforme nécessite le respect de l'ensemble des prescriptions
        d'utilisation définies au sein des présentes.
    </p>
    <h2>2. Définitions</h2>
    <p>
        Pour les besoins des présentes, les expressions comportant une majuscule
        auront le sens qui leur est donné ci-après, savoir : CGU désigne les
        présentes Conditions Générales d'Utilisation de la Plateforme
        applicables aux Utilisateurs, qui peuvent être consultées sur la
        Plateforme et auxquelles ces derniers doivent adhérer pour utiliser la
        Plateforme ; Contenu désigne les informations, données personnelles,
        données diverses, textes, logiciels, musiques, sons, photographies,
        images, vidéos, messages ou tous autres éléments mis en ligne sur la
        Plateforme par les Utilisateurs; Droit de Propriété Intellectuelle
        désigne l'ensemble des droits de propriété intellectuelle tels que
        prévus par le Code de propriété intellectuelle et les conventions
        nationales et, notamment, les droits d'auteur, les droits voisins des
        artistes-interprètes et de producteurs phonographiques et
        vidéographiques, le droit des marques, le droit des dessins et modèles,
        les brevets, appellations commerciales (y compris les noms de domaine
        Internet et les adresses e-mail), les copyrights, savoir-faire,
        enregistrés ou non ou pouvant être enregistrés ou non et subsistant dans
        toute partie du monde ; Identifiants désigne l'adresse email ainsi que
        le mot de passe choisis par l'Utilisateur et permettant à celui-ci de
        s'identifier pour accéder à la Plateforme et administrer son Profil ;
        Inscription désigne la procédure que l'Utilisateur doit accomplir sur la
        Plateforme afin de pouvoir créer son Profil et accéder à cette dernière
        ; Politique de confidentialité désigne la politique de confidentialité
        et de traitement des données à caractère personnel applicable aux
        données communiquées par les Utilisateurs sur la Plateforme ; Profil
        désigne le compte (incluant les Identifiants) et l'espace personnel
        réservé à chaque Utilisateur contenant des informations sur cet
        Utilisateur.
    </p>
    <h2>3. Objet</h2>
    <p>
        Les présentes CGU ont pour objet de définir les modalités de mise à
        disposition de la Plateforme, ainsi que les conditions dans lesquelles
        les Utilisateurs sont autorisés à accéder à cette dernière et à
        l'utiliser. Les CGU déterminent toutes les étapes nécessaires à
        l'Inscription, à la création du Profil de l'Utilisateur, à la
        publication de Contenus par ce dernier et aux interactions entre les
        Utilisateurs. Les CGU sont complétées par une Politique de
        confidentialité qui détermine les conditions dans lesquelles les données
        à caractère personnel communiquées par les Utilisateurs sont utilisées,
        sauvegardées et traitées par la Plateforme.
    </p>
    <h2>4. Durée, entrée en vigueur et opposabilité</h2>
    <p>
        Les présentes CGU sont opposables à l'Utilisateur dès leur acceptation
        par ce dernier lors de son Inscription. Les relations contractuelles
        entre les parties sont conclues pour une durée indéterminée et prennent
        fin lorsque l'Utilisateur se désinscrit de la Plateforme ou en cas de
        suppression de son Profil. En toute hypothèse, toute utilisation de la
        Plateforme implique l'acceptation sans réserve par l'Utilisateur des
        présentes CGU et de la Politique de confidentialité. L'Utilisateur peut
        prendre connaissance des CGU et de la Politique de confidentialité et
        les imprimer depuis un lien qui lui est fourni sur la page
        d'inscription. En outre, les CGU et la Politique de confidentialité lui
        sont automatiquement adressées par courrier électronique lors de la
        création de son compte Utilisateur, et peuvent être consultées
        ultérieurement à l'adresse masterquizz.fr/terms. L'Utilisateur est
        expressément informé que la version des CGU et de la Politique de
        confidentialité en cours de validité est celle qui est accessible en
        ligne à l'adresse masterquizz.fr/terms. La Société se réserve le droit
        d'apporter aux présentes CGU et à la Politique de confidentialité toutes
        les modifications qu'elle jugera utiles et nécessaires, notamment en
        considération d'éventuelles évolutions légales, jurisprudentielles ou
        techniques. En cas de modification des CGU et/ou de la Politique de
        confidentialité, l'Utilisateur sera invité à prendre connaissance et à
        accepter les dernières versions des CGU et/ou de la Politique de
        confidentialité un mois avant leur entrée en vigueur. En cas de refus de
        l'Utilisateur d'appliquer les nouvelles CGU et/ou de la Politique de
        confidentialité, il dispose de la possibilité de fermer son compte sur
        la Plateforme.
    </p>
    <h2>5. Inscription et identification des utilisateurs</h2>
    <p>
        Toute personne physique majeure peut s'inscrire sur la Plateforme afin
        de devenir Utilisateur en remplissant l'ensemble des champs obligatoires
        figurant dans le formulaire d'inscription. Il doit ainsi obligatoirement
        fournir notamment une adresse email et un mot de passe permettant de
        l'identifier. L'Utilisateur reçoit un courrier électronique dans sa
        messagerie personnelle lui restituant une URL, laquelle lui permet de
        compléter son Inscription et de confirmer son identité. Dans l'hypothèse
        où l'Utilisateur fournirait des informations fausses, inexactes,
        périmées, incomplètes, de nature à induire en erreur, ou constitutives
        d'une usurpation d'identité, la Société pourra immédiatement suspendre
        ou résilier son compte personnel et lui refuser l'accès, de façon
        temporaire ou définitive, à la Plateforme. Lorsque les informations
        communiquées par l'Utilisateur concernent une personne publique connue,
        la Société se réserve le droit de suspendre le Profil de l'Utilisateur
        jusqu'à ce que ce dernier ait été en mesure de prouver son identité, par
        tout moyen probant. Les Identifiants sont strictement personnels et
        confidentiels. Par conséquent, l'Utilisateur s'oblige à les conserver
        secrets et à ne les divulguer sous quelque forme que ce soit. Tout accès
        à la Plateforme au moyen de ses Identifiants sera réputé avoir été
        effectué par l'Utilisateur ou avec son autorisation, sauf s'il est en
        mesure de démontrer que son compte a été piraté. Si les Identifiants de
        l'Utilisateur sont perdus ou volés, il doit en informer sans délai la
        Société, qui procèdera alors à l'annulation et/ou à la mise à jour
        immédiate des Identifiants concernés. La procédure d'Inscription
        nécessite que l'Utilisateur accepte les présentes CGU et la Politique de
        confidentialité de la Plateforme en vigueur au moment de son
        inscription, conformément aux dispositions de l'article 4 ci-dessus.
        L'Inscription est gratuite et peut à tout moment être résiliée sur
        demande de l'Utilisateur, lequel peut supprimer son Profil en envoyant
        une demande de résiliation par courrier électronique à l'adresse
        contact&#64;masterquizz.fr. Dans l'hypothèse où un ayant-droit de
        l'Utilisateur souhaiterait procéder à la désinscription de ce dernier à
        la suite d'un cas de décès, ce dernier doit s'adresser directement à la
        Société au moyen d'un courrier électronique à l'adresse
        contact&#64;masterquizz.fr. La Société supprimera les comptes inactifs. Un
        compte est considéré comme inactif lorsque l'Utilisateur ne s'est pas
        connecté à la Plateforme pendant une durée supérieure ou égale à cinq
        (5) ans.
    </p>
    <h2>6. Utilisation de la Plateforme</h2>
    <p>
        Dans le cadre de l'utilisation de la Plateforme, l'Utilisateur peut être
        amené à publier en ligne des avis et/ou commentaires (ci-après les «
        Commentaires »). Chaque Utilisateur s'engage à utiliser la Plateforme
        dans le respect des lois et règlements en vigueur et à se comporter de
        façon loyale à l'égard des autres Utilisateurs et de la Société. En
        outre, l'Utilisateur est seul responsable du Contenu et/ou des
        Commentaires qu'il transmet sur la Plateforme et des conséquences
        susceptibles d'en résulter. En conséquence, l'Utilisateur s'interdit,
        sans que cette énumération soit considérée comme exhaustive, de : -
        publier des Commentaires comportant des propos diffamants, injurieux,
        grossiers, à caractère raciste et/ou pornographique ; - mettre en ligne
        du Contenu attentatoire au respect de la vie privée et/ou constitutif
        d'une atteinte aux personnes (diffamation, insultes, injures, etc.) ; -
        mettre en ligne du Contenu contraire à l'ordre public, aux bonnes mœurs
        ou à la dignité humaine (apologie des crimes contre l'Humanité,
        incitation à la haine raciale, pédopornographie, etc.) ; - communiquer
        des données erronées s'agissant de son état civil et de ses coordonnées
        personnelles, usurper l'identité d'autrui, accéder aux données d'un
        Utilisateur tiers à son insu ; - publier des Commentaires comportant des
        informations personnelles, telles que le nom ou prénom de personnes
        physiques, leur date de naissance, leur adresse, leur numéro de
        téléphone, leur adresse de courrier électronique, des informations
        bancaires, etc. - charger, stocker, échanger, publier, poster,
        communiquer ou transmettre de quelque manière que ce soit des Contenus
        qui risqueraient d'enfreindre les droits d'auteur, brevets, marques,
        secrets commerciaux ou autres Droits de Propriété Intellectuelle de
        toute personne physique ou morale ; - diffuser, envoyer, transmettre par
        tout moyen, toutes données, informations, publicités ayant un caractère
        commercial ou non et qui n'auraient pas été sollicitées ou autorisées au
        préalable par son ou ses destinataires (spam, mass mailing, etc.) ; -
        perturber ou interrompre la Plateforme ou les serveurs ou réseaux
        connectés à la Plateforme, exposer la Plateforme à un virus ou tout
        autre programme informatique malveillant, enfreindre les mesures de
        sécurité et d'authentification sans en avoir reçu l'autorisation ou
        encore inonder les serveurs de la Plateforme. A toute fin utile, les
        Utilisateurs peuvent alerter MasterQuizz de la présence de Contenus ou
        Commentaires susceptibles d'enfreindre le droit des tiers, en écrivant
        un email à contact&#64;masterquizz.fr. En toute hypothèse, MasterQuizz ne
        pourra être considérée que comme hébergeur au sens de l'article 6-I-2 de
        la loi du 21 juin 2004 pour la confiance dans l'économie numérique, au
        regard des Contenus et Commentaires postés par les Utilisateurs. En sa
        qualité d'hébergeur, MasterQuizz a l'obligation de supprimer tout
        contenu à caractère raciste, diffamatoire, dénigrant, injurieux, et plus
        généralement contraire aux lois et règlements en vigueur, portant
        atteinte aux droits des tiers à l'ordre public et aux bonnes mœurs, dès
        qu'elle en reçoit notification dans les formes et selon les dispositions
        prévues par la loi du 21 juin 2004 pour la confiance dans l'économie
        numérique. L'Utilisateur est responsable des conséquences de tout
        manquement aux présentes CGU. Aussi, en cas de violation des conditions
        d'accès à la Plateforme et d'utilisation des Services proposés sur la
        Plateforme, la Société se réserve le droit d'exclure pour une durée
        limitée ou de façon définitive les Utilisateurs concernés. Les
        violations continues et répétées donnent droit à la Société de résilier
        les présentes à l'égard des Utilisateurs concernés avec effet immédiat.
    </p>
    <h2>7. Disponibilité de la Plateforme</h2>
    <p>
        L'accès à la Plateforme se fait à l'adresse masterquizz.fr grâce à un
        terminal fixe (PC/Mac) ou mobile (Android/Apple) connecté à Internet. Il
        appartient à l'Utilisateur de s'assurer des prérequis techniques
        nécessaires pour une utilisation optimale de la Plateforme. Le coût de
        l'accès et de la navigation sur la Plateforme reste à la charge
        exclusive de l'Utilisateur, qui l'accepte. La Société se réserve le
        droit de suspendre, d'interrompre ou de limiter, sans avis préalable,
        l'accès à tout ou partie de la Plateforme, notamment pour des opérations
        de maintenance et de mise à niveau nécessaires au bon fonctionnement de
        la Plateforme et des matériels afférents, ou pour toute autre raison
        notamment relative à une panne non prévisible quelle qu'en soit la
        cause, sans que l'Utilisateur dispose d'un recours à l'encontre de la
        Société. Dans la mesure du possible, la Société s'efforce d'avertir
        préalablement les Utilisateurs des interruptions ou arrêts affectant la
        Plateforme. En revanche, la Société ne saurait être tenue pour
        responsable en cas de problèmes ou incidents techniques susceptibles de
        survenir et d'entraîner une perte de données de l'Utilisateur ou de ses
        Contenus.
    </p>
    <h2>8. Propriété Intellectuelle</h2>
    <h3>8.1. Propriété de la Plateforme, de sa structure et de son contenu</h3>
    <p>
        La Société est le titulaire exclusif de tous les droits attachés à la
        structure de la Plateforme et à son contenu, savoir notamment, sans que
        cette liste soit limitative, les textes, logos, informations, analyses,
        images, photographies, charte graphique, éléments sonores, logiciels,
        icônes, mise en page, base de données, vidéos, codes sources ou toute
        autre donnée présentée sur la Plateforme. Les présentes CGU confèrent à
        l'Utilisateur un droit d'utilisation de la Plateforme, lequel ne saurait
        s'analyser comme la cession d'un Droit de Propriété Intellectuelle sur
        la Plateforme, sa structure et son contenu, qui demeurent la propriété
        pleine et entière de la Société. En conséquence, l'Utilisateur
        s'interdit tout agissement et tout acte susceptible de porter atteinte
        directement ou indirectement aux Droits de Propriété Intellectuelle
        détenus par la Société sur la Plateforme, sa structure et son contenu
        ainsi que, d'une manière générale, sur les marques associées. A ce
        titre, toute reproduction et/ou représentation totale ou partielle de
        ces droits sans l'autorisation expresse de la Société constituerait une
        contrefaçon des Droits de Propriété Intellectuelle de celle-ci,
        susceptible d'engager la responsabilité civile et/ou pénale de son
        auteur.
    </p>
    <h3>
        8.2. Droits de la Société sur les Contenus mis en ligne par les
        Utilisateurs
    </h3>
    <p>
        La Société ne se déclare pas propriétaire des Contenus que l'Utilisateur
        publie sur la Plateforme ou par son intermédiaire. En revanche,
        l'Utilisateur concède par les présentes à la Société une licence non
        exclusive, à titre gratuit, transférable, sous-licenciable et mondiale
        pour l'utilisation de l'ensemble des Contenus publiés sur la Plateforme
        ou par son intermédiaire pour la durée des droits afférents, le cas
        échéant, étant précisé que les Contenus comprennent notamment les
        commentaires et avis mis en ligne par l'Utilisateur. Cette licence
        autorise la Société MasterQuizz à utiliser les Contenus, après les avoir
        anonymisés, de différentes façons, et notamment de les modifier, les
        compléter, d'en modifier le format, de les incorporer à des publicités,
        de créer des œuvres dérivées, de les mettre en valeur, de les
        distribuer, de les diffuser sur tous supports et de les commercialiser.
        En conséquence, l'Utilisateur donne par les présentes à la Société son
        consentement irrévocable concernant l'utilisation des Contenus, et
        renonce à toute revendication et affirmation relative aux droits moraux
        ou patrimoniaux les concernant.
    </p>
    <h2>9. Données à caractère personnel</h2>
    <p>
        Les conditions de collecte, de traitement et les modalités d'exercice
        des droits des Utilisateurs concernant leurs données à caractère
        personnel sont détaillées dans la Politique de confidentialité acceptée
        par l'Utilisateur accessible à l'adresse suivante
        masterquizz.fr/privacy.
    </p>
    <h2>10. Cookies</h2>
    <p>
        Afin d'améliorer l'interactivité de la Plateforme ainsi que l'expérience
        utilisateur, la Société peut suivre la navigation de l'Utilisateur grâce
        à la technique des cookies ou toute autre technique permettant de tracer
        sa navigation sur la Plateforme et de collecter ainsi les données le
        concernant. Un cookie est un élément qui ne permet pas d'identifier
        l'Utilisateur mais sert à enregistrer des informations relatives à sa
        navigation au sein de la Plateforme. Les cookies permettent ainsi à la
        Société d'améliorer en permanence la Plateforme et la reconnaissance de
        l'Utilisateur lorsqu'il se connecte, et peuvent également être utilisés
        à des fins statistiques. Certains partenaires de la Société peuvent
        également déposer des cookies sur le terminal de l'Utilisateur, étant
        précisé que seul l'émetteur d'un cookie est susceptible de le lire ou de
        modifier les informations qui y sont contenues. L'Utilisateur peut
        s'opposer à la mise en place des cookies directement sur la Plateforme
        ou en suivant la procédure décrite dans l'onglet « Options Internet » de
        son navigateur. Les cookies utilisés par la Plateforme sont destinés à :
        - assurer la connexion de l'Utilisateur à son Profil ; - suivre la
        navigation de l'Utilisateur sur la Plateforme ; - réaliser des
        statistiques d'utilisation de la Plateforme ; L'Utilisateur est informé
        qu'un paramétrage du navigateur de façon à exclure les cookies est
        susceptible de restreindre certaines fonctionnalités de la Plateforme.
        La Société ne saurait alors en être tenue pour responsable.
    </p>
    <h2>11. Responsabilité</h2>
    <p>
        La Société n'offre aucune garantie de continuité de la Plateforme dans
        la mesure où elle n'est tenue que d'une obligation de moyens. A ce
        titre, la Société ne garantit pas un fonctionnement sans erreurs et
        ininterrompu de la Plateforme, ni l'exactitude ou la mise à jour de son
        contenu. La Société peut modifier sans préavis le contenu et les
        fonctionnalités de la Plateforme, sans que cela puisse engager sa
        responsabilité. En outre, sa responsabilité ne pourra pas être
        recherchée ni retenue en cas d'indisponibilité temporaire ou totale de
        tout ou partie de la Plateforme, d'une difficulté liée au temps de
        réponse ou, plus généralement, d'un défaut de performance quelconque. La
        Société est, en tant que réseau social, assujettie à la responsabilité
        des hébergeurs de contenus. A ce titre, elle ne peut être responsable à
        raison d'un Contenu ou Commentaire illicite que si, dûment informée de
        son illicéité, elle n'a pas agi promptement pour le supprimer ou en
        rendre l'accès impossible. Le Plateforme est susceptible de contenir des
        liens hypertextes renvoyant vers les sites internet de tiers. Ces
        derniers ne sont pas sous le contrôle de la Société, laquelle ne saurait
        être tenue pour responsable de la mise à disposition de ces sources
        externes et du contenu de ces sites liés. La Société fournit ces liens
        pour convenance, ce qui n'implique pas une affiliation, un parrainage ou
        une recommandation quelconque des sites liés en question. En
        conséquence, la Société ne saurait être tenue pour responsable en cas de
        dommage avéré ou allégué consécutif à la consultation des sites et
        sources externes par l'Utilisateur.
    </p>
    <h2>12. Loi applicable et attribution de compétence</h2>
    <p>
        Les présentes CGU sont régies par la loi française. Tout éventuel litige
        se rapportant à l'interprétation ou à l'exécution des CGU sera soumis à
        la compétence des tribunaux compétents du ressort de la Cour d'appel de
        Paris. La nullité, en tout ou partie, de l'une quelconque des
        dispositions des présentes CGU aux termes d'une disposition légale ou
        règlementaire, ou d'une décision de justice devenue définitive,
        n'entraîne pas la nullité des autres dispositions ou de la partie de la
        disposition non entachée de nullité. Celles-ci seront remplacées par
        d'autres stipulations valables qui, eu égard à leur portée, se
        rapprochent dans toute la mesure permise par la loi des stipulations
        déclarées nulles. v
    </p>
</div>

<div *ngIf="page == 'privacy'">
    <h1>
        Politique de confidentialité applicable à partir du 4 septembre 2023
    </h1>
    <h2>1. Objectifs de la politique de confidentialité</h2>
    <p>
        Le respect de la vie privée ainsi que la protection des renseignements
        personnels sont essentiels pour nous, c'est pourquoi, par la présente
        Politique, nous entendons protéger ceux-ci conformément aux lois en
        vigueur. Afin d'assurer cette protection, MasterQuizz s'engage à ne
        collecter, traiter et partager une information permettant d'identifier
        un individu que lorsque ce dernier y a consenti, à moins que cela ne
        soit permis ou requis par la loi, auquel cas votre consentement ne sera
        pas nécessaire. La Politique a pour objectif d'informer les utilisateurs
        des raisons et de la façon dont MasterQuizz, ou toute personne agissant
        en son nom, va collecter et utiliser leurs renseignements personnels.
        Elle se veut être en langage clair afin de s'assurer un consentement
        éclairé des utilisateurs. Aux fins de la présente Politique, on entend
        par « renseignements personnels » tous les renseignements sur une
        personne identifiable ou permettant d'identifier une personne. Dans la
        mesure du possible, nous anonymiserons, pseudonymiserons et/ou
        agrégerons ces derniers afin qu'ils n'identifient plus une personne.
    </p>
    <h2>2. Modalités de recueil du consentement</h2>
    <p>
        Nous nous engageons à recueillir un consentement avant de recueillir les
        renseignements personnels d'un individu. Le consentement peut être
        explicite ou implicite et peut être fourni directement par la personne
        ou par son représentant autorisé. Nous privilégions l'obtention d'un
        consentement explicite, que ce soit verbalement, par voie électronique
        ou par écrit. Toutefois le consentement implicite peut être
        raisonnablement déduit de l'action ou l'inaction d'une personne. Par
        exemple, le fait de fournir un nom et une adresse pour recevoir une
        publication ou un nom et un numéro de téléphone pour obtenir une réponse
        à une question est considéré comme un consentement implicite à la
        collecte d'information contenant des renseignements personnels. Pour
        déterminer le type de consentement approprié, nous tenons compte de la
        sensibilité des renseignements personnels en cause, des fins auxquelles
        ils sont recueillis et des attentes raisonnables d'une personne placée
        en situation similaire. Si nous voulons utiliser les renseignements
        personnels à une nouvelle fin, nous décrirons l'utilisation prévue et
        demanderons à nouveau le consentement. Il n'est pas toujours possible,
        notamment dans le cadre d'une demande de l'État, d'obtenir le
        consentement de la personne pour recueillir, utiliser ou communiquer ses
        renseignements personnels. Nous nous engageons à ne jamais communiquer
        ce type de renseignements, autrement qu'en conformité avec la présente
        Politique, sauf si la loi nous y oblige ou le permet.
    </p>
    <h2>3. Objectifs de la collecte de données</h2>
    <p>
        Les informations collectées le sont conformément aux finalités et
        objectifs fixés dans la présente politique de confidentialité. Voici
        certaines raisons pour lesquelles nous collectons vos renseignements
        personnels :<br />
        • Fournir des produits et services : Nous allons collecter et traiter
        les données et informations nécessaires pour remplir notre mission et
        nos obligations contractuelles.<br />
        • Assurer et améliorer ces produits et services : Les données collectées
        lors de vos interactions avec nos services sont susceptibles d'être
        utilisées dans le but d'analyser et d'améliorer le fonctionnement de nos
        produits et services.<br />
        • Développer de nouveaux produits et services ainsi que pour l'IA : Les
        données collectées peuvent servir dans un cadre de recherche et
        développement pour proposer de nouveaux produits et services à nos
        utilisateurs, notamment par le biais de publicités et de messages de
        marketing. De plus, les données collectées et agrégées seront
        susceptibles d'être traitées par des algorithmes utilisant
        l'intelligence artificielle.<br />
        • Proposer des produits et services personnalisés : Le recueil et
        l'analyse des données générées par vos interactions avec nos services
        nous permettent de développer et créer des produits et services qui
        soient pertinents pour toujours répondre au mieux à vos attentes en
        terme culturels et de divertissements, notamment afin de prévoir des
        mesures d'adaptation pour les clients le nécessitant.<br />
        • Évaluer les performances des produits et services : Les données sont
        récoltées afin d'avoir des informations sur les avantages mais aussi les
        inconvénients de nos produits et services afin de les évaluer et de les
        résoudre si nécessaire, notamment par le biais de sondages. Cela nous
        permet de nous assurer de la qualité de nos produits et services en plus
        de favoriser la gestion de risques.<br />
        • Protéger la vie privée de nos utilisateurs. Les données récoltées nous
        permettent de vérifier l'identité et de protéger la vie privée des
        personnes qui communiquent avec nous par téléphone, par voie
        électronique ou autrement.<br />
        • Satisfaire des obligations légales. Les données sont récoltées pour
        satisfaire à des obligations issues de lois, règlements ou traités
        internationaux.
    </p>
    <h2>4. Renseignements personnels collectés</h2>
    <p>
        MasterQuizz peut collecter des renseignements personnels sous diverses
        formes, mais ne le fera que par des moyens licites et uniquement aux
        fins nécessaires qui vous ont été divulguées, comme décrit dans la
        présente Politique, ou lorsque permis ou requis par la loi. Les
        renseignements personnels recueillis, ainsi que leur sensibilité,
        peuvent varier en fonction du contexte dans lequel se situent les
        interactions entre vous et MasterQuizz. C'est pourquoi nous devons en
        priorité vous informer de la nature des renseignements personnels que
        nous utilisons. Nous protégeons tous les renseignements personnels
        recueillis. Parmi les renseignements personnels susceptibles d'être
        recueillis et utilisés, nous accordons une attention particulière aux :
        noms et coordonnées, justificatifs d'identité, mots de passe, données
        démographiques, données de paiement, données sur les abonnements, images
        et sons, interactions, rapports d'erreurs. D'autres données fournies
        lorsque vous utilisez notre site internet, notamment les données issues
        de Google Analytics.
    </p>
    <h2>5. Finalités du traitement des données</h2>
    <h3>Fournir nos produits et services</h3>
    <p>
        Nous utilisons les données pour faire fonctionner et améliorer nos
        produits et services, ainsi que vous fournir des expériences riches et
        personnalisées. Nous utilisons les données pour améliorer nos produits,
        notamment en y ajoutant de nouvelles fonctionnalités ou capacités
        (Rapport d'erreur au moment de l'achat d'un billet, ou en consultant un
        programme en ligne, etc.).
    </p>
    <h3>Personnalisation</h3>
    <p>
        Certains produits comprennent des fonctionnalités personnalisées, telles
        que des recommandations qui optimisent vos expériences et votre
        satisfaction. Ces fonctionnalités utilisent des processus automatisés
        permettant d'adapter vos expériences en fonction des données dont nous
        disposons sur vous, comme des déductions que nous faisons à votre sujet
        et sur votre utilisation du produit, vos activités, vos centres
        d'intérêt, votre localisation.
    </p>
    <h3>Développement de produits et/ou services</h3>
    <p>
        Nous utilisons des données pour développer de nouveaux produits. Par
        exemple, nous utilisons des renseignements personnels que nous
        anonymisons ou pseudonymisons, afin de mieux comprendre les besoins de
        nos clients.
    </p>
    <h3>Support client</h3>
    <p>
        Nous utilisons les données pour diagnostiquer et résoudre les problèmes
        relatifs aux produits et/ou services, restaurer l'accès à votre compte
        personnel, fournir d'autres services de support et d'assistance.
    </p>
    <h3>Contribuer à la sécurisation et à la résolution des problèmes</h3>
    <p>
        Nous utilisons les données pour contribuer à la sécurisation et à la
        résolution des problèmes de nos produits et services. Cela comprend
        l'utilisation des données pour assurer la sécurité des services offerts
        à nos clients, la détection des programmes malveillants et des activités
        malveillantes, la résolution des problèmes de performances et de
        compatibilité pour aider les clients à tirer le meilleur parti de leur
        expérience et les informer des mises à jour de nos produits et services.
        Cela peut inclure l'utilisation de systèmes automatisés pour détecter
        les problèmes de sécurité.
    </p>
    <h3>Sécurité</h3>
    <p>
        Nous utilisons les données pour protéger la sécurité de nos produits et
        de nos clients. Nos fonctionnalités de sécurité peuvent empêcher le
        fonctionnement de logiciels malveillants et informer les utilisateurs de
        la détection d'un logiciel malveillant sur leur appareil ou encore avoir
        recours à la vidéosurveillance pour s'assurer de la sécurité du public
        lors d'évènements.
    </p>
    <h3>Sondages et communications promotionnelles</h3>
    <p>
        Nous utilisons les données que nous recueillons pour fournir des
        sondages et communications promotionnelles. Vous pouvez souscrire des
        abonnements par courrier électronique, répondre à des sondages et
        choisir de recevoir ou non des communications promotionnelles de
        MasterQuizz par courrier électronique, SMS, courrier postal et
        téléphone. Pour de plus amples informations sur la gestion de vos
        coordonnées, des abonnements par courrier électronique et des
        communications promotionnelles, consultez la section Modalité d'accès et
        de contrôle de vos renseignements personnels de la présente Politique.
    </p>
    <h3>Offres pertinentes</h3>
    <p>
        MasterQuizz utilise des données pour vous fournir des informations
        pertinentes et importantes concernant les produits et services proposés.
        Nous analysons des données provenant de différentes sources pour prédire
        les informations qui seront les plus intéressantes et pertinentes pour
        vous et vous les communiquer de différentes manières. Par exemple, nous
        pouvons prédire vos centres d'intérêt en matière de de spectacles et
        vous proposer de nouvelles activités susceptibles de vous plaire.
    </p>
    <h3>Publicité</h3>
    <p>
        MasterQuizz utilise les données collectées par le biais de ses
        interactions avec vous, de certains de nos produits et sur des sites web
        de tiers pour faire de la publicité de nos produits et services,
        notamment sur des sites tiers. Il se peut que nous utilisions parfois
        des processus automatisés afin de rendre les publicités plus
        pertinentes.
    </p>
    <h3>Transactions commerciales</h3>
    <p>
        Nous utilisons des données pour traiter vos transactions avec nous. Par
        exemple, nous traitons des informations de paiement pour fournir aux
        clients des abonnements à des produits et utilisons des coordonnées pour
        fournir des produits achetés dans nos boutiques/billetterie en ligne.
    </p>
    <h3>Création de rapports et opérations commerciales</h3>
    <p>
        Nous utilisons des données pour analyser nos opérations et améliorer le
        processus décisionnel. Cela nous permet de prendre des décisions
        informées et de créer des rapports sur les performances de nos
        activités.
    </p>
    <h3>Protection des droits et de la propriété</h3>
    <p>
        Nous utilisons les données pour détecter et empêcher les fraudes,
        résoudre les litiges, mettre en œuvre des contrats et protéger notre
        propriété. Par exemple, nous utilisons les données pour confirmer la
        validité des billets vendus afin de lutter contre la fraude. Nous
        pouvons utiliser des processus automatisés pour détecter et faire en
        sorte d'empêcher les activités qui violent nos droits et ceux de tiers.
    </p>
    <h3>Conformité juridique</h3>
    <p>
        Nous traitons les données pour nous conformer à la loi. Par exemple,
        nous utilisons l'âge de nos clients pour être sûrs de respecter nos
        obligations en matière de protection de la vie privée des enfants ou
        pour s'assurer que le client respecte l'âge recommandé pour l'audience.
        Nous traitons également les coordonnées et les identifiants pour aider
        les clients à exercer leurs droits en matière de protection des données.
    </p>
    <h3>Recherches</h3>
    <p>
        Nous utilisons des données pour effectuer des recherches, notamment à
        des fins scientifiques et dans l'intérêt public, lorsque cela est permis
        par la loi.
    </p>

    <h2>6. Les procédés de traitement utilisés</h2>
    <p>
        MasterQuizz accorde la plus grande importance à la sécurité de vos
        renseignements personnels et s'engage à traiter ceux-ci suivant les
        normes et standards de l'industrie, uniquement pour les fins pour
        lesquelles ils sont recueillis tel que décrit à la présente politique ou
        dans un avis spécifique à cet effet. Néanmoins, la sauvegarde absolue de
        ces derniers est impossible compte tenu des limites de sécurité
        inhérentes à une transmission via Internet. Les renseignements qui nous
        sont transmis le sont donc ultimement aux risques et périls de
        l'utilisateur.
    </p>
    <h2>7. Modalités d'accès et de contrôle des renseignements personnels</h2>
    <p>
        MasterQuizz s'assure que tous les renseignements personnels en sa
        possession sont aussi exacts, actuels et complets que nécessaires pour
        les fins pour lesquelles ils sont utilisés. Vous avez le droit de
        demander accès à vos renseignements personnels aux fins de vérification
        et de demander une correction si ces derniers sont inexacts. Si vous
        croyez que vos renseignements personnels sont inexacts ou si vous
        souhaitez avoir accès à vos renseignements personnels, vous pouvez faire
        une demande en utilisant les coordonnées fournies à la fin de la
        présente Politique. Dans la mesure de nos moyens, nous vous fournirons
        un accès en temps opportun à vos renseignements personnels. Toutefois,
        par mesure de sécurité, il se peut que nous ayons besoin de vérifier
        votre identité. Par ailleurs, il peut y avoir des circonstances où nous
        ne pourrons vous donner accès à vos renseignements personnels.
        Notamment, lorsque l'accès peut mener à la divulgation de renseignements
        personnels d'une autre personne et que cette personne refuse de
        consentir à la divulgation de ceux-ci ou lorsque des restrictions
        juridiques s'appliquent. Si une telle situation se présente, nous vous
        aviserons de la raison pour laquelle nous ne pouvons vous donner accès à
        vos renseignements personnels. Si votre demande concerne des données
        apparaissant sur des pages web ou des plateformes de tierces parties,
        veuillez contacter directement ces tierces parties.
    </p>
    <h2>
        8. Partage et raison du partage des renseignements personnels à des
        tiers
    </h2>
    <p>
        Nous ne partageons pas vos renseignements personnels avec des
        entreprises, des organisations, ni des personnes extérieures à
        MasterQuizz, à l'exception de nos fournisseurs et partenaires autorisés
        qui ont besoin d'avoir accès aux renseignements pour les fins énumérées
        à la présente politique et dans les limites de celle-ci, ainsi que dans
        les cas suivants :<br />
        • Avec votre consentement.<br />
        • Pour le stockage dans des serveurs infonuagiques, dans quel cas les
        renseignements personnels pourraient transiter par des juridictions
        tierces. Notez que nous ne retenons que les services d'entreprises
        renommées et dotées de politiques de confidentialité.<br />
        • Pour des besoins de traitement externe : Nous transmettons des
        renseignements personnels à d'autres entreprises ou personnes de
        confiance qui les traitent pour notre compte, selon nos instructions,
        conformément à la présente politique de confidentialité, avec un degré
        de sécurité des données au moins équivalent au nôtre et dans le respect
        de toute autre mesure appropriée de sécurité et de confidentialité.
        Notamment, nous utilisons les services de fournisseurs tiers pour
        mutualiser, nettoyer et analyser les données dans le secteur de la
        culture afin qu'ils puissent valoriser ces données et élaborer des
        outils au profit du public ou des acteurs du secteur. Pour ce faire, ces
        fournisseurs traitent les renseignements fournis de la manière suivante
        : Les données sont d'abord préparées, puis classées pour pouvoir être
        utilisées. À partir des données préparées, le fournisseur crée des
        statistiques globales qui contiennent des informations générales et non
        personnelles, parfois combinées avec des données issues de sources
        similaires. Ces données mutualisées servent ensuite à établir des
        statistiques globales à l'image des analyses de provenance (via codes
        postaux principalement) mais aussi des analyses de saisonnalité ou
        encore des analyses tarifaires (type panier d'achat). Ces données sont
        ensuite enrichies selon deux procédés différents. Le premier est un
        enrichissement par utilisation des données tierces en libre accès, tel
        que les données socio-démographiques émises par le Recensement via le
        code postal. Le deuxième procédé est lui appelé enrichissement par
        inférence. L'enrichissement par inférence consiste par exemple, dans le
        cadre d'un achat d'un billet au tarif "moins de 25 ans", à déduire que
        l'individu concerné a moins de 25 ans.<br />
        • Pour des raisons juridiques : Nous transmettons des renseignements
        personnels en dehors de notre entreprise si l'accès à ceux-ci est
        nécessaire pour se conformer aux lois et réglementations en vigueur.
        MasterQuizz s'engage à ne pas vendre ou louer vos renseignements
        personnels à une tierce partie.
    </p>
    <h2>9. Témoins et technologies similaires</h2>
    <p>
        MasterQuizz peut utiliser des fichiers témoins (« cookies »), des
        balises Internet, des pixels invisibles, des fichiers journal ou autres
        technologies pour collecter certains renseignements personnels relatifs
        aux visiteurs sur nos sites Web, ainsi que sur les destinataires de nos
        infolettres, invitations et autres communications. Les témoins sont des
        éléments d'information transmis par le serveur au navigateur lors d'une
        visite du site Internet et qui permettent d'identifier de façon unique
        la connexion en cours. Ces données peuvent inclure des informations
        telles que votre adresse Internet (IP), le type de navigateur, la
        version du navigateur, les pages de notre site que vous consultez,
        l'heure et la date de votre visite, le temps de consultation et toutes
        autres statistiques. Les témoins utilisés servent notamment à retrouver
        l'historique de recherche ainsi que les paniers (ex : achats de billets)
        liés à la session, pour faciliter l'expérience de navigation en ligne de
        l'utilisateur. Il est important de savoir que, l'activation de l'option
        témoins peut, selon la configuration choisie, permettre à d'autres
        serveurs d'installer des témoins sur votre système. Vous pouvez définir
        les paramètres de votre navigateur pour qu'il vous informe de la
        présence de témoins, vous laissant ainsi la possibilité de les accepter
        ou non. Veuillez noter que notre site web pourrait contenir des liens ou
        renvois vers des sites de tierces parties. La présente politique cesse
        de s'appliquer au moment de quitter notre site web et MasterQuizz n'est
        pas responsable de la collecte ou du traitement de renseignements
        personnels par ces tiers ou via ces sources externes.
    </p>
    <h2>10. Conservation des renseignements personnels</h2>
    <p>
        MasterQuizz garde les données collectées pendant différentes périodes de
        temps, en fonction de leur nature et de leur utilité dans l'offre de nos
        produits et services. Durant la période de conservation, MasterQuizz
        prend des mesures physiques et techniques pour assurer la sécurité des
        données contenant des renseignements personnels. Les principaux endroits
        où sont conservés les renseignements personnels sont les villes dans
        lesquelles MasterQuizz possède des bureaux ou des installations et dans
        les villes dans lesquelles
        <a href="https://www.mongodb.com/atlas">MongoDB Atlas</a> possède des
        serveurs contenant les données collectées par MasterQuizz. Les
        renseignements personnels peuvent être conservés à l'extérieur du pays
        dans lequel vous vivez, si un tiers fournisseur ou une autre entité à
        qui nous divulguons des renseignements personnels conformément à la
        présente Politique est situé à l'extérieur du pays. Dans de tels cas,
        les renseignements personnels peuvent être assujettis aux lois locales
        des pays ou territoires au sein desquels les renseignements sont
        collectés, utilisés, divulgués ou entreposés, et les autorités
        gouvernementales et les autorités chargées de l'application de la loi de
        ces pays ou territoires peuvent y avoir accès. Une fois la période de
        conservation expirée, les renseignements personnels sont détruits. Seuls
        les statistiques ou rapports contenant des données dépersonnalisées et
        anonymisées pourront être conservés pour des périodes de temps
        prolongées.
    </p>
</div>
