<form *ngIf="isAuthLoading">
    <div>
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>&nbsp;Chargement...
    </div>
</form>
<form (ngSubmit)="addQuestion()" #registerForm="ngForm" *ngIf="!isAuthLoading">
    <h2 *ngIf="!isAuthLoading">Ajouter une question</h2>
    <div class="field-container">
        <div>
            <div class="form-group">
                <label for="question">Question :</label><br />
                <input type="text" class="form-control" id="question" name="question" [(ngModel)]="question" required
                    autocomplete="off" />
            </div>
            <div class="form-group">
                <label for="nbAnswers">Nombre de réponses</label><br />
                <input type="number" class="form-control" id="nbAnswers" name="nbAnswers" [(ngModel)]="nbAnswers"
                    required min="2" max="6" />
            </div>
        </div>
        <div>
            <div class="form-group" *ngFor="let _ of [].constructor(nbAnswers); let i = index;">
                <label for="answer{{i}}">Réponse {{i + 1}}</label><br />
                <input type="text" class="form-control" id="answer{{i}}" name="answer{{i}}" [(ngModel)]="answers[i]"
                    required />
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="goodAnswer">Bonne réponse</label><br />
                <select class="form-control" id="goodAnswer" name="goodAnswer" [(ngModel)]="goodAnswer" required>
                    <option *ngFor="let _ of [].constructor(nbAnswers); let i = index;" [value]="i">Réponse {{i + 1}}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="theme">Thème</label><br />
                <select class="form-control" id="theme" name="theme" [(ngModel)]="theme" required>
                    <option *ngFor="let theme of themes" [value]="theme">{{theme}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="difficulty">Difficulté</label><br />
                <input type="number" class="form-control" id="difficulty" name="difficulty" [(ngModel)]="difficulty"
                    required min="1" max="5" />
            </div>
        </div>
    </div>
    <button type="submit" class="submit-button" [disabled]="!registerForm.valid || isRequestLoading">
        <span *ngIf="!isRequestLoading">Enregistrer</span>
        <span *ngIf="isRequestLoading">
            <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>&nbsp;Chargement...
        </span>
    </button>
</form>
