form {
    display: flex;
    flex-direction: column;

    .field-container {
        display: flex;
        flex-direction: column;
        margin: 20px 0;

        div {
            display: flex;
            flex-direction: row;
            margin: 10px 0;

            .form-group {
                display: flex;
                flex-direction: column;
                margin: 0 10px;
            }
        }
    }

    button {
        margin: auto;
    }
}
