<form (ngSubmit)="register()" #registerForm="ngForm">
    <h2>Création de votre compte</h2>
    <div class="form-group">
        <label for="username">Pseudo :</label><br />
        <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            [(ngModel)]="username"
            required
            autocomplete="off"
            autofocus
        />
    </div>
    <div class="form-group">
        <label for="email">Adresse email :</label><br />
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
        />
    </div>
    <div class="form-group">
        <label for="password">Mot de passe :</label><br />
        <div class="input-icon-container">
            <input
                type="password"
                class="form-control"
                id="password"
                name="password"
                [(ngModel)]="password"
                required
            />
            <fa-icon
                [icon]="['far', 'eye']"
                (click)="togglePasswordVisibility()"
                class="icon"
                *ngIf="!passwordVisible"
            ></fa-icon>
            <fa-icon
                [icon]="['far', 'eye-slash']"
                (click)="togglePasswordVisibility()"
                class="icon"
                *ngIf="passwordVisible"
            ></fa-icon>
        </div>
    </div>
    <div class="form-group checkbox-container">
        <input type="checkbox" id="cgu" name="cgu" [ngModel]="cgu" required />
        <label for="cgu" class="cgu-label"
            ><span>J'accepte les </span>
            <a href="/terms" target="_blank">
                Conditions Générales d'Utilisation
            </a></label
        >
    </div>
    <span class="form-error" *ngIf="error">{{ error }}</span>
    <div class="buttons-container">
        <button
            type="submit"
            class="submit-button"
            [disabled]="!registerForm.valid || isLoading"
        >
            <span *ngIf="!isLoading"
                ><fa-icon [icon]="['fas', 'user-plus']"></fa-icon
                >S'inscrire</span
            >
            <span *ngIf="isLoading">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon
                >&nbsp;Chargement…
            </span>
        </button>
        <br />
        <button
            type="button"
            class=""
            id="google-button"
            class="google-button"
            (click)="enableRegisterWithGoogle()"
        >
            <fa-icon [icon]="['fab', 'google']"></fa-icon
            ><span>S'inscrire avec Google</span>
        </button>
        <div class="form-links">
            <span (click)="navigateToLogin()">Déjà inscrit ?</span>
        </div>
    </div>
</form>
