@import "../../styles/variables";

h2 {
    font-size: xx-large;
    text-align: center !important;
    font-family: Averta, Verdana, Geneva, Tahoma, sans-serif;
}

.form-group {
    margin: 20px auto;
    width: max-content;
}

input,
select {
    font-weight: 300;
    border-radius: 5px;
    border: 1px solid #111;
    padding: 10px !important;
    margin: 10px 0 !important;
    width: 100%;
    min-width: 500px;
    max-width: 100%;
    background-color: $input-color;
    color: $input-text-color;
}

input[type="checkbox"] {
    min-width: 0;
}

.buttons-container {
    margin: auto;
    width: max-content;
    min-width: 500px;
    max-width: 100%;
}

@media (max-width: 768px) {
    input,
    select {
        min-width: 250px;
        max-width: 500px;
    }

    .buttons-container {
        min-width: 250px;
        max-width: 500px;
    }
}

.google-button {
    background-color: #4285f4;
    color: white;
    border: 1px solid white;
    padding: 10px;
    width: fit-content;
    font-weight: 300;
    font-size: 16px;
    font-family: Averta, Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 5px;
}

.google-button * {
    vertical-align: middle;
    color: white;
}

button fa-icon {
    margin-right: 10px;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
    width: max-content;
    min-width: 500px;
    max-width: 100%;

    input {
        width: max-content;
        margin-right: 10px !important;
    }

    label {
        a {
            color: $primary-link-color;
            cursor: pointer;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
            position: relative;
            display: block;
            width: fit-content;

            &::before {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $primary-link-color;
                transition: width 0.3s ease-in-out;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .checkbox-container {
        min-width: 250px;
        max-width: 250px;
    }
}
