@import "../../styles/variables";

h2 {
    font-size: xx-large;
    text-align: center !important;
    font-family: Averta, Verdana, Geneva, Tahoma, sans-serif;
}

.google-button {
    background-color: #4285f4;
    color: white;
    border: 1px solid white;
    padding: 10px;
    width: fit-content;
    font-weight: 300;
    font-size: 16px;
    font-family: Averta, Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
    margin-top: 5px;
}

.google-button * {
    vertical-align: middle;
    color: white;
}

button fa-icon {
    margin-right: 10px;
}

.checkbox-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    input {
        width: max-content;
        margin-right: 10px !important;
    }

    label {
        a {
            color: $primary-link-color;
            cursor: pointer;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
            position: relative;
            display: block;
            width: fit-content;

            &::before {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $primary-link-color;
                transition: width 0.3s ease-in-out;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }
}
