@import "./styles/variables";

@font-face {
    font-family: "Epica Sans Pro Black";
    src: url("/assets/fonts/epica-sans-pro-black.otf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Averta";
    src: url("/assets/fonts/averta-semibold.otf") format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $primary-color;
    font-family: "Verdana", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

span {
    margin: auto 0;
}

b {
    font-weight: bold;
}

input,
select {
    font-weight: 300;
    border-radius: 5px;
    border: 1px solid #111;
    padding: 10px !important;
    margin: 10px 0 !important;
    width: 100%;
    max-width: 500px;
    background-color: $input-color;
    color: $input-text-color;
}

button,
.label-button {
    color: $button-text-color;
    font-weight: 300 !important;
    font-size: 16px;
    font-family: Averta, Verdana, Geneva, Tahoma, sans-serif !important;
    border-radius: 12px;
    background-color: $button-color;
    border: 1px solid #111;
    padding: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
}

button *:not(fa-icon):not(svg):not(path),
.label-button *:not(fa-icon):not(svg):not(path) {
    color: $button-text-color;
}

button:not([disabled]):hover,
button:not([disabled]):focus,
.label-button:not([disabled]):hover,
.label-button:not([disabled]):focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

button:disabled {
    cursor: not-allowed;
    color: $button-disabled-text-color;

    * {
        color: $button-disabled-text-color;
    }
}

button.transparent:disabled {
    background-color: transparent;
}

button:disabled:not(.transparent) {
    background-color: $button-disabled-color;
}

form {
    width: max-content;
    max-width: 90%;
    padding: 15px;
    margin: auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: xx-large;
        text-align: center !important;
    }

    .form-group {
        margin: 20px 0;
        width: 100%;
    }

    .form-error,
    .form-warning {
        display: block;
        font-size: larger;
        font-family: Averta, Verdana, Geneva, Tahoma, sans-serif;
        margin-bottom: 15px;
        text-wrap: balance;
        text-align: center;
    }

    .form-error {
        color: $primary-error-color;
    }

    .form-warning {
        color: $primary-warning-color;
    }

    .form-links {
        margin-top: 15px;

        span {
            color: $primary-link-color;
            cursor: pointer;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
            position: relative;
            display: block;
            margin-top: 5px;
            width: fit-content;

            &::before {
                content: "";
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $primary-link-color;
                transition: width 0.3s ease-in-out;
            }

            &:hover {
                &::before {
                    width: 100%;
                }
            }
        }
    }

    * {
        text-align: left;
    }
}

.success-message {
    color: $primary-success-color;
    font-size: larger;
    font-family: Averta, Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
