@import "./styles/variables";

@font-face {
    font-family: "Epica Sans Pro Black";
    src: url("/assets/fonts/epica-sans-pro-black.otf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Averta";
    src: url("/assets/fonts/averta-semibold.otf") format("truetype");
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $primary-color;
    font-family: "Verdana", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

span {
    font-weight: 300;
    margin: auto 0;
}

b {
    font-weight: bold;
}

input,
select {
    font-weight: 300;
    border-radius: 5px;
    border: 1px solid #111;
    padding: 10px !important;
    margin: 10px 0 !important;
    width: 100%;
    max-width: 500px;
    background-color: $input-color;
    color: $input-text-color;
}

button {
    color: $button-text-color;
    font-weight: 300;
    font-size: 16px;
    font-family: Averta, Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 12px;
    background-color: $button-color;
    border: 1px solid #111;
    padding: 10px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    transition: box-shadow 0.3s ease-in-out;
}

button *:not(fa-icon):not(svg):not(path) {
    color: $button-text-color;
}

button:not([disabled]):hover,
button:not([disabled]):focus {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

button:disabled {
    background-color: $button-disabled-color;
    color: $button-disabled-text-color;
    cursor: not-allowed;
}

form {
    width: max-content;
    max-width: 90%;
    padding: 15px;
    margin: auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: xx-large;
        text-align: center !important;
    }

    .form-group {
        margin: 20px 0;
        width: 100%;
    }

    * {
        text-align: left;
    }
}
