{
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "none",
    "overrides": [
        {
            "files": "*.*.spec.ts",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
