<form *ngIf="isAuthLoading">
    <div>
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon
        >&nbsp;Chargement...
    </div>
</form>
<form
    #registerForm="ngForm"
    *ngIf="!isAuthLoading && (action == 'add' || action == 'edit')"
    (ngSubmit)="actionQuestion()"
>
    <h2>Ajouter une question</h2>
    <div class="field-container">
        <div>
            <div class="form-group">
                <label for="question">Question :</label><br />
                <input
                    type="text"
                    class="form-control"
                    id="question"
                    name="question"
                    [(ngModel)]="question"
                    required
                    autocomplete="off"
                    spellcheck="true"
                />
            </div>
        </div>
        <div>
            <div
                class="form-group"
                *ngFor="let _ of [].constructor(nbAnswers / 2); let i = index"
            >
                <label for="answer{{ i }}">Réponse {{ i + 1 }}</label
                ><br />
                <input
                    type="text"
                    class="form-control"
                    id="answer{{ i }}"
                    name="answer{{ i }}"
                    [(ngModel)]="answers[i]"
                    spellcheck="true"
                    required
                />
            </div>
        </div>
        <div>
            <div
                class="form-group"
                *ngFor="let _ of [].constructor(nbAnswers / 2); let i = index"
            >
                <label for="answer{{ i + nbAnswers / 2 }}"
                    >Réponse {{ i + nbAnswers / 2 + 1 }}</label
                ><br />
                <input
                    type="text"
                    class="form-control"
                    id="answer{{ i + nbAnswers / 2 }}"
                    name="answer{{ i + nbAnswers / 2 }}"
                    [(ngModel)]="answers[i + nbAnswers / 2]"
                    spellcheck="true"
                    required
                />
            </div>
        </div>
        <div>
            <div class="form-group">
                <label for="goodAnswer">Bonne réponse</label><br />
                <select
                    class="form-control"
                    id="goodAnswer"
                    name="goodAnswer"
                    [(ngModel)]="goodAnswer"
                    required
                >
                    <option
                        *ngFor="
                            let _ of [].constructor(nbAnswers);
                            let i = index
                        "
                        [value]="i"
                    >
                        Réponse {{ i + 1 }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="theme">Thème</label><br />
                <select
                    class="form-control"
                    id="theme"
                    name="theme"
                    [(ngModel)]="themeSelected"
                    required
                >
                    <option *ngFor="let theme of themes" [value]="theme.code">
                        {{ theme.name }}
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label for="difficulty">Difficulté</label><br />
                <input
                    type="number"
                    class="form-control"
                    id="difficulty"
                    name="difficulty"
                    [(ngModel)]="difficulty"
                    required
                    min="1"
                    max="5"
                />
            </div>
        </div>
    </div>
    <button
        type="submit"
        class="submit-button"
        [disabled]="!registerForm.valid || isRequestLoading"
    >
        <span *ngIf="!isRequestLoading">Enregistrer</span>
        <span *ngIf="isRequestLoading">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon
            >&nbsp;Chargement...
        </span>
    </button>
    <br />
    <button
        type="button"
        class="back-button"
        [disabled]="isRequestLoading"
        (click)="backToList()"
    >
        <span>Retourner à la liste des questions</span>
    </button>
</form>
<div *ngIf="!isAuthLoading && action == 'manage'" class="manage-container">
    <div *ngIf="isRequestLoading">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon
        >&nbsp;Chargement...
    </div>
    <div *ngIf="!isRequestLoading" class="manage-container-subclass">
        <h2>Gestion des questions</h2>
        <div class="questions-container">
            <div class="question-toolbar">
                <button class="add-button" [routerLink]="['/questions/add']">
                    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                    Ajouter une question
                </button>
                <input
                    type="text"
                    class="form-control"
                    id="search"
                    name="search"
                    [(ngModel)]="search"
                    required
                    autocomplete="off"
                    spellcheck="true"
                    placeholder="Rechercher..."
                />
            </div>
            <div class="question-subtoolbar">
                <span *ngIf="getQuestionsFiltered().length > 0"
                    >{{ getQuestionsFiltered().length }} questions
                    trouvées</span
                >
                <span *ngIf="getQuestionsFiltered().length == 0"
                    >Aucune question trouvée</span
                >
            </div>
            <ng-container *ngFor="let question of getQuestionsFiltered()">
                <div class="question">
                    <div class="question-header">
                        <div class="question-title">
                            <span>{{ question.question }}</span>
                        </div>
                    </div>
                    <div class="question-body">
                        <ul class="question-answers">
                            <li
                                *ngFor="
                                    let answer of question.answers;
                                    let i = index
                                "
                            >
                                <span
                                    [ngClass]="{
                                        'good-answer': answer.correct
                                    }"
                                    >{{ answer.answer }}</span
                                >
                            </li>
                        </ul>
                        <div class="question-infos">
                            <span>Thème : {{ question.theme.name }}</span>
                            <span
                                >Difficulté : {{ question.difficulty }}/5</span
                            >
                            <span>
                                Ajoutée le
                                {{ question.created | date : "dd/MM/yyyy" }} par
                                <a href="/profile/{{ question.user.username }}">
                                    {{
                                        question.user.displayName ||
                                            question.user.username
                                    }}
                                </a>
                            </span>
                            <span
                                *ngIf="question.updated && question.userUpdated"
                            >
                                Modifiée le
                                {{ question.updated | date : "dd/MM/yyyy" }} par
                                <a
                                    href="/profile/{{
                                        question.userUpdated.username
                                    }}"
                                >
                                    {{
                                        question.userUpdated.displayName ||
                                            question.userUpdated.username
                                    }}
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="question-actions">
                        <button
                            class="btn btn-primary"
                            [routerLink]="['/questions/edit', question._id]"
                        >
                            <fa-icon [icon]="['fas', 'edit']"></fa-icon>
                            Modifier
                        </button>
                        <button
                            class="btn btn-danger"
                            (click)="deleteQuestion(question)"
                        >
                            <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                            Supprimer
                        </button>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
