@import '../../styles/variables';


.home-title {
    font-size: 42px;
    font-family: Epica Sans Pro Black,
        Impact,
        Haettenschweiler,
        'Arial Narrow Bold',
        sans-serif !important;
    color: $primary-text-color;
    //margin-left: 40px;
}

.home-module-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.home-module {
    width: 50%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background: $secondary-color;
    border-radius: 12px;
    position: relative;
    padding: 20px 15px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-module:first-child {
    margin-left: 0;
}

.home-module:last-child {
    margin-right: 0;
}

@media (max-width: 768px) {

    .home-title {
        font-size: 38px;
    }

    .home-module-container {
        flex-direction: column;
    }

    .home-module {
        width: 100%;
        margin: 20px 0;
    }
}
