<h1 class="home-title">
    Bienvenue sur
    <span class="home-title-highlight"> MasterQuizz </span>
    !
</h1>
<div class="home-module-long" *ngIf="longModuleShown">
    <h2>Affrontez d'autres joueurs et grimpez dans le classement !</h2>
    <button routerLink="/multiplayer">Découvrir les duels</button>
    <div class="close-button">
        <fa-icon
            [icon]="['fas', 'circle-xmark']"
            (click)="closeLongModule()"
        ></fa-icon>
    </div>
</div>
<div class="home-module-container">
    <app-home-module
        class="home-module"
        [question]="randomQuestion"
        moduleTitle="Question aléatoire"
        moduleType="question"
        (nextQuestion)="nextQuestion($event)"
    ></app-home-module>
    <app-home-module
        class="home-module"
        [question]="randomQuestion"
        moduleTitle="Classement Général"
        moduleType="ranking"
        [ranking]="rankedUsers"
        [moduleParams]="{
            userId: userObj ? userObj._id : null,
        }"
    ></app-home-module>
</div>
