@import "../../styles/variables";

.home-title {
    font-size: 42px;
    font-family: Epica Sans Pro Black, Impact, Haettenschweiler,
        "Arial Narrow Bold", sans-serif !important;
    color: $primary-text-color;
}

.home-module-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.home-module {
    width: 50%;
    min-height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background: $secondary-color;
    border-radius: 12px;
    position: relative;
    padding: 20px 25px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-module:first-child {
    margin-left: 0;
}

.home-module:last-child {
    margin-right: 0;
}

.home-module-long {
    margin: 20px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background: $secondary-color;
    color: $secondary-text-color;
    border-radius: 12px;
    position: relative;
    padding: 20px 30px;
    text-align: center;
    font-family: Averta, Verdana, Geneva, Tahoma, sans-serif;

    .home-module-long-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: scroll;
        width: 100%;

        .home-module-long-content-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            min-width: 135px;
            cursor: pointer;

            img {
                width: 75px;
                height: 75px;
                object-fit: cover;
                border-radius: 50%;
                border: 2px solid $secondary-text-color;
                padding: 3px;
                margin: 5px 0;
                box-shadow: none;
                transition: box-shadow 0.5s ease-in-out;
            }
        }

        .home-module-long-content-item:hover {
            img {
                box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
                transition: box-shadow 0.5s ease-in-out;

                animation-name: rotate;
                animation-duration: 12s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
            }
        }

        /* Define the animation */
        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
    }

    button {
        margin: 0 0 0 25px;
    }

    .close-button {
        position: absolute;
        top: 5px;
        right: 7px;
        font-size: 24px;
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .home-title {
        font-size: 38px;
    }

    .home-module-container {
        flex-direction: column;
    }

    .home-module {
        width: 100%;
        min-height: 400px;
        margin: 20px 0;
        padding: 20px 15px 30px;
    }

    .home-module-long {
        flex-direction: column;
        padding: 20px 15px 20px 15px;

        button {
            margin: 20px 0 0 0;
        }
    }
}
