<header>
  <div class="toolbar">
    <div class="title-bar" href="#">
      <a class="logo" href="#">
        <img src="../assets/logo.png" alt="MasterQuizz logo" width="60" height="60">
        <h1>MasterQuizz</h1>
      </a>
      <button class="menu-icon" *ngIf="user && !isLoading">
        <fa-icon [icon]="faBars" (click)="showMenu = !showMenu"></fa-icon>
      </button>
      <ul>
        <li><a href="#">Entraînement</a></li>
        <li><a href="#">Multijoueur</a></li>
        <li><a href="#">Classements</a></li>
        <li><a href="#">À propos</a></li>
        <li><a href="/questions/manage" *ngIf="userObj && userObj.admin">Questions</a></li>
      </ul>
    </div>
    <div class="buttons" *ngIf="!user && !isLoading">
      <button class="sign-in" (click)="navigateToLogin()">
        <fa-icon [icon]="faSignInAlt"></fa-icon>
        <span>Connection</span>
      </button>
      <button class="sign-up" (click)="navigateToRegister()">
        <fa-icon [icon]="faUserPlus"></fa-icon>
        <span>Inscription</span>
      </button>
    </div>
    <div class="buttons" *ngIf="user && !isLoading">
      <img class="avatar web" [src]="userObj.avatarUrl" alt="Avatar" *ngIf="userObj.avatarUrl" height="40" width="40">
      <span class="username" *ngIf="user.displayName || userObj.username">
        <b>{{ user.displayName || userObj.username }}</b>
      </span>
      <span class="username">
        {{ userObj.elo || "0" }}&nbsp;🏆
      </span>
      <button class="sign-out" (click)="logout()">
        <fa-icon [icon]="faSignOutAlt"></fa-icon>
        <span>Déconnection</span>
      </button>
    </div>
    <div class="buttons" *ngIf="isLoading">
      <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
    </div>
  </div>
  <ul class="menu-mobile" [attr.aria-expanded]="showMenu" *ngIf="user && !isLoading"> <!-- displayed only on mobile -->
    <li><a href="#">Entraînement</a></li>
    <li><a href="#">Multijoueur</a></li>
    <li><a href="#">Classements</a></li>
    <li><a href="#">À propos</a></li>
    <li><a href="/questions/manage" *ngIf="userObj && userObj.admin">Questions</a></li>
    <div class="user-info">
      <div class="user-info-header">
        <img class="avatar" [src]="userObj.avatarUrl" alt="Avatar" *ngIf="userObj.avatarUrl" height="40" width="40">
        <span class="username-mini" *ngIf="user.displayName || userObj.username">
          <b>{{ user.displayName || userObj.username }}</b>
        </span>
      </div>
      <span class="username-mini">
        {{ userObj.elo || "0" }} 🏆
      </span>
    </div>
  </ul>
</header>

<main>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>

<footer>
  © 2023 MasterQuizz. Tous droits réservés.
</footer>
