<header>
  <div class="toolbar">
    <div class="logo">
      <img src="../assets/logo.png" alt="MasterQuizz logo">
    </div>
    <a class="title-bar" href="#">
      <h1>MasterQuizz</h1>
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Entraînement</a></li>
        <li><a href="#">Multijoueur</a></li>
        <li><a href="#">Classements</a></li>
        <li><a href="#">À propos</a></li>
      </ul>
    </a>
    <div class="buttons">
      <button class="sign-in">Connection</button>
      <button class="sign-up">Inscription</button>
    </div>
    <div class="buttons" *ngIf="false">
      <span class="username">{{ "username" }}</span>
      <button class="sign-out">Déconnection</button>
    </div>
  </div>
</header>

<main>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>

<footer>
  © 2023 MasterQuizz. Tous droits réservés.
</footer>
