@import '../styles/variables';

@font-face {
    font-family: 'Epica Sans Pro Black';
    src: url('../assets/fonts/epica-sans-pro-black.otf') format('truetype');
    font-display: swap;
}

/* Top toolbar styles */
.toolbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    background-color: $secondary-color;
    width: 100vw;
    height: 75px;
    z-index: 100;
}

.toolbar *:not(button span) {
    color: $secondary-text-color;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.title-bar {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
}

.title-bar {
    display: flex;
    align-items: center;

    h1 {
        font-size: 42px;
        font-family: Epica Sans Pro Black,
            Impact,
            Haettenschweiler,
            'Arial Narrow Bold',
            sans-serif !important;
        float: left;
        margin-left: 40px;
    }

    ul {
        list-style: none;
        float: left;
        margin-left: 40px;

        li {
            display: inline-block;
            margin-right: 10px;

            a {
                position: relative;
                text-decoration: none;
                font-weight: 300;
                font-size: 22px;
                transition: color 0.3s ease-in-out;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: $secondary-text-color;
                    transition: width 0.3s ease-in-out;
                }

                &:hover {
                    color: darken($secondary-text-color, 10%);

                    &::before {
                        width: 100%;
                    }
                }
            }
        }

        li:not(:last-child) {
            margin-right: 30px;
        }
    }

    @media (max-width: 1130px) {
        h1 {
            font-size: 38px;
            margin-left: 30px;
        }

        ul li {
            margin-right: 5px;

            a {
                font-size: 20px;
            }
        }
    }

    @media (max-width: 768px) {
        h1 {
            font-size: 32px;
            margin-left: 20px;
        }

        ul {
            display: none;
        }
    }
}

.buttons {
    display: flex;
}

button {
    fa-icon {
        margin-right: 10px;
    }

    margin-left: 10px;
}

.username {
    margin-right: 10px !important;
    text-align: end;
}

.sign-out,
.sign-in,
.sign-up {
    display: flex;
}

main {
    flex-grow: 1;
    padding: 20px;
}

.content {
    margin-top: 90px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

/* Footer styles */
footer {
    padding: 10px;
    color: $secondary-text-color;
    background-color: $secondary-color;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

@media (max-width: 768px) {
    main {
        padding-left: 0px;
        padding-right: 0px;
    }

    .toolbar {
        padding: 10px 20px;
    }

    button {
        fa-icon {
            margin-right: 0 !important;
        }

        span {
            display: none;
        }
    }
}
