<header>
    <div class="toolbar">
        <div class="title-bar" href="#">
            <a class="logo" href="/">
                <img
                    src="../assets/logo.png"
                    alt="MasterQuizz logo"
                    width="60"
                    height="60"
                />
                <h1>MasterQuizz</h1>
            </a>
            <button class="menu-icon" *ngIf="userObj">
                <fa-icon
                    [icon]="['fas', 'bars']"
                    (click)="showMenu = !showMenu"
                ></fa-icon>
            </button>
            <ul>
                <li *ngFor="let link of menuLinks">
                    <a [routerLink]="link.path" routerLinkActive="active">{{
                        link.text
                    }}</a>
                </li>
            </ul>
        </div>
        <div class="buttons" *ngIf="!userObj">
            <button class="sign-in" (click)="navigateToLogin()">
                <fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>
                <span>Connexion</span>
            </button>
            <button class="sign-up" (click)="navigateToRegister()">
                <fa-icon [icon]="['fas', 'user-plus']"></fa-icon>
                <span>Inscription</span>
            </button>
        </div>
        <div class="buttons" *ngIf="userObj">
            <a class="user-info" href="/profile/{{ userObj.username }}">
                <img
                    class="avatar"
                    [src]="userObj.avatarUrl"
                    alt="Avatar"
                    *ngIf="userObj.avatarUrl"
                    height="40"
                    width="40"
                />
                <b
                    class="username"
                    *ngIf="userObj.displayName || userObj.username"
                >
                    {{ userObj.displayName || userObj.username }}
                </b>
                <span class="elo"> {{ userObj.elo || "0" }}&nbsp;🏆 </span>
            </a>
            <button class="sign-out" (click)="logout()">
                <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
                <span>Déconnexion</span>
            </button>
        </div>
    </div>
    <ul class="menu-mobile" [attr.aria-expanded]="showMenu" *ngIf="userObj">
        <!-- displayed only on mobile -->
        <li *ngFor="let link of menuLinks">
            <a href="{{ link.path }}">{{ link.text }}</a>
        </li>
        <div
            class="user-info-mobile"
            (click)="navigateToProfile(userObj.username)"
        >
            <div class="user-info-header">
                <img
                    class="avatar"
                    [src]="userObj.avatarUrl"
                    alt="Avatar"
                    *ngIf="userObj.avatarUrl"
                    height="40"
                    width="40"
                />
                <span
                    class="username-mini"
                    *ngIf="userObj.displayName || userObj.username"
                >
                    <b>{{ userObj.displayName || userObj.username }}</b>
                </span>
            </div>
            <span class="username-mini"> {{ userObj.elo || "0" }} 🏆 </span>
        </div>
    </ul>
</header>

<main>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
</main>

<!-- <footer>© 2023 MasterQuizz. Tous droits réservés.</footer> -->
