<div *ngIf="isRequestLoading" class="profile">
    <div class="loading">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon
        >&nbsp;Chargement...
    </div>
</div>
<span
    class="edit-error"
    *ngIf="!isRequestLoading && displayedUser && profileEdit && error"
    >{{ error }}</span
>
<div *ngIf="!isRequestLoading && displayedUser" class="profile">
    <div
        class="edit-button-container"
        *ngIf="userObj && displayedUser._id === userObj._id"
    >
        <fa-icon
            *ngIf="displayedUser._id === userObj._id && !profileEdit"
            [icon]="['fas', 'edit']"
            class="edit-button"
            (click)="enableEditUsername()"
        ></fa-icon>
        <fa-icon
            *ngIf="displayedUser._id === userObj._id && profileEdit"
            [icon]="['fas', 'check']"
            class="edit-button"
            (click)="editUsername()"
        ></fa-icon>
    </div>
    <div class="avatar-container">
        <img
            [src]="tempAvatar || displayedUser.avatarUrl"
            width="100"
            height="100"
            *ngIf="displayedUser.avatarUrl"
        />
        <div
            class="edit-avatar"
            *ngIf="userObj && displayedUser._id === userObj._id"
        >
            <input
                *ngIf="profileEdit"
                id="avatar"
                type="file"
                accept="image/*"
                (change)="onAvatarSelected($event)"
            />
            <span *ngIf="profileEdit && avatarName" class="filename">
                {{ avatarName }}
            </span>
            <label
                for="avatar"
                class="label-button button-file"
                *ngIf="profileEdit"
            >
                <fa-icon [icon]="['fas', 'upload']"></fa-icon>
                &nbsp;Sélectionner un fichier
            </label>
            <button
                *ngIf="profileEdit"
                class="button-save"
                (click)="editAvatar()"
            >
                <fa-icon [icon]="['fas', 'check']"></fa-icon>
                &nbsp;Sauvegarder
            </button>
        </div>
    </div>
    <h1>
        <span *ngIf="!profileEdit">{{
            displayedUser.displayName || displayedUser.username
        }}</span>
        <input
            *ngIf="profileEdit"
            type="text"
            [(ngModel)]="tempUsername"
            (keyup.enter)="editUsername()"
        />
    </h1>
    <span> Inscrit le {{ displayedUser.created | date : "dd/MM/yyyy" }} </span>
    <span> {{ displayedUser.elo }}&nbsp;🏆 </span>
    <span>
        {{ displayedUser.stats.duels.wins }} duels gagnés<br />
        {{ displayedUser.stats.duels.losses }} duels perdus<br />
        {{ displayedUser.stats.duels.draws }} duels nuls
    </span>
    <div *ngIf="displayedUser.admin">
        <span> Administrateur </span>
    </div>
    <button
        *ngIf="currentDuelId && displayedUser._id != userObj._id"
        [routerLink]="['/duel', currentDuelId]"
        class="watch-button"
    >
        <fa-icon [icon]="['fas', 'eye']"></fa-icon>
        Regarder en direct
    </button>
</div>
