@import "../../styles/variables";

.profile {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 90%;
    padding: 15px;
    margin: auto;

    h1 {
        float: left;
        font-family: Averta, Verdana, Geneva, Tahoma, sans-serif;

        input {
            font-family: Averta, Verdana, Geneva, Tahoma, sans-serif;
            font-size: 24px;
            width: 130px;
            padding: 0 5px !important;
            margin: 0 !important;
        }

        fa-icon {
            float: right;
            cursor: pointer;
        }
    }
}
