@import '../../styles/variables';


.profile {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 90%;
    padding: 15px;
    margin: auto;

    h1 {
        float: left;
        font-family: Averta, Verdana, Geneva, Tahoma, sans-serif;
    }
}
