@import "../../styles/variables";

.main {
    display: flex;
    flex-direction: column;
    width: max-content;
    max-width: 90%;
    min-width: 70%;
    padding: 15px;
    margin: auto;

    .status {
        text-align: center;
    }

    h1 {
        font-family: Averta, Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        font-size: xx-large;
        margin-bottom: 10px;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            font-weight: 400;
            color: $primary-text-color;

            * {
                margin: 0 10px;
            }

            .vs {
                display: flex;
                flex-direction: row;

                * {
                    margin: none;
                }

                @media (max-width: 768px) {
                    flex-direction: column;
                }
            }
        }

        .forfeit-button {
            background-color: $third-error-color;
            color: white;
            margin-bottom: 15px;
            padding: 5px 10px;
        }

        @media (max-width: 768px) {
            font-size: x-large;
        }
    }

    app-home-module {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        background: $secondary-color;
        border-radius: 12px;
        position: relative;
        padding: 20px 20px 30px;
        display: flex;
        flex-direction: column;
        text-align: center;
        min-height: 400px;

        @media (max-width: 768px) {
            margin: 20px 0;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }
}

.main.row {
    flex-direction: row;

    * {
        margin: 0 10px;
    }

    .loading {
        margin: auto;
    }
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 30%;
        border: 2px solid $primary-text-color;
    }

    .elo {
        font-size: large;
    }
}

a {
    text-decoration: underline;
    color: $primary-text-color;
}
