<div class="main row" *ngIf="isRequestLoading">
    <div class="loading">
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        <span class="status">Chargement...</span>
    </div>
</div>
<div class="main" *ngIf="(!duelId || !duelObj) && !isRequestLoading">
    <button type="button" (click)="findMatch()" *ngIf="!status && !duelId">
        Trouver un adversaire
    </button>
    <button
        type="button"
        (click)="cancelSearch()"
        *ngIf="status && !duelId && !startedDuelId"
    >
        <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
        Annuler
    </button>
    <button
        type="button"
        (click)="joinMatch()"
        *ngIf="startedDuelId && !duelId"
    >
        <fa-icon [icon]="['fas', 'door-open']"></fa-icon>
        Rejoindre le duel en cours
    </button>
    <span class="status" *ngIf="status && !startedDuelId">{{ status }}</span>
    <span class="status" *ngIf="status && status.startsWith('Match trouvé')">
        Rechargez la page si le match ne se lance pas automatiquement
    </span>
</div>
<div class="main" *ngIf="duelId && duelObj">
    <h1>
        <span *ngIf="status != 'ended'"> C'est l'heure du duel ! </span>
        <span *ngIf="status == 'ended'"> Duel terminé ! </span>
        <span>
            <a
                class="avatar-container"
                href="/profile/{{ duelObj.users[0].username }}"
                target="_blank"
            >
                <img
                    src="{{ duelObj.users[0].avatarUrl }}"
                    alt="Avatar"
                    height="50"
                    width="50"
                    class="avatar"
                />
                <span class="elo">
                    {{ duelObj.users[0].elo }}
                </span>
            </a>
            <div class="vs">
                <a
                    href="/profile/{{ duelObj.users[0].username }}"
                    target="_blank"
                >
                    {{
                        duelObj.users[0].displayName ||
                            duelObj.users[0].username
                    }}
                </a>
                VS
                <a
                    href="/profile/{{ duelObj.users[1].username }}"
                    target="_blank"
                >
                    {{
                        duelObj.users[1].displayName ||
                            duelObj.users[1].username
                    }}
                </a>
            </div>
            <a
                class="avatar-container"
                href="/profile/{{ duelObj.users[1].username }}"
                target="_blank"
            >
                <img
                    src="{{ duelObj.users[1].avatarUrl }}"
                    alt="Avatar"
                    height="50"
                    width="50"
                    class="avatar"
                />
                <span class="elo">
                    {{ duelObj.users[1].elo }}
                </span>
            </a>
        </span>
        <div class="match-navbar">
            <span>
                Match démarré
                {{ dayjs(duelObj.startedOn || duelObj.createdOn || duelObj.created).fromNow() }}
            </span>
            <button
                type="button"
                (click)="forfeitMatch()"
                *ngIf="status != 'ended' && !spectator"
                class="forfeit-button"
            >
                Abandonner
            </button>
        </div>
    </h1>
    <app-home-module
        class="home-module"
        [question]="currentQuestion"
        [moduleTitle]="
            status == 'ended'
                ? 'Résultats'
                : 'Question ' + (currentQuestionIndex + 1)
        "
        moduleType="match"
        [moduleParams]="{
            currentQuestionIndex: currentQuestionIndex,
            nextQuestionReady: nextQuestionReady,
            matchEnded: status == 'ended',
            hideAnswers: !nextQuestionReady,
            matchObj: duelObj,
            userObj: userObj,
            eloChange: eloChange,
            scores: scores,
            answers: answers,
            opponent: opponent || null,
            answerValidated: answerValidated,
            spectator: spectator,
            opponent1: opponent1,
            opponent2: opponent2,
            waitingForAnswerText: spectator
                ? 'En attente de la réponse des joueurs...'
                : null,
            nextQuestionText: ended ? 'Résultats' : 'Question suivante',
        }"
        (selectedAnswer)="selectedAnswer($event)"
        (validatedAnswer)="validatedAnswer($event)"
        (nextQuestion)="nextQuestionPressed($event)"
        (timeOut)="timeOut($event)"
        *ngIf="currentQuestion"
    >
    </app-home-module>
</div>
