@use "../../styles/variables";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: xx-large;
    text-align: center !important;
    font-family: variables.$primary-font;
}

.home-module-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    gap: 15px;
}

.home-module {
    width: 435px;
    min-height: 510px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    background: variables.$secondary-color;
    border-radius: 12px;
    position: relative;
    padding: 20px 25px 30px;
}
