<form (ngSubmit)="login()" #registerForm="ngForm">
    <h2>Connection à votre compte</h2>
    <div class="form-group">
        <label for="username">Pseudo :</label><br />
        <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            [(ngModel)]="username"
            required
            autofocus
        />
    </div>
    <div class="form-group">
        <label for="password">Mot de passe :</label><br />
        <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="password"
            required
        />
    </div>
    <button
        type="submit"
        class="submit-button"
        [disabled]="!registerForm.valid || isLoading"
    >
        <span *ngIf="!isLoading"
            ><fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>Se
            connecter</span
        >
        <span *ngIf="isLoading">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon
            >&nbsp;Chargement...
        </span>
    </button>
    <br />
    <button
        type="button"
        class=""
        id="google-button"
        class="google-button"
        (click)="loginWithGoogle()"
    >
        <fa-icon [icon]="['fab', 'google']"></fa-icon>Se connecter avec Google
    </button>
</form>
