<form (ngSubmit)="login()" #registerForm="ngForm" *ngIf="screen === 'login'">
    <span class="form-warning" *ngIf="warning"
        >{{ warning }}
        <span
            (click)="warning = ''"
            [ngStyle]="{ cursor: 'pointer', 'text-decoration': 'underline' }"
            >Fermer</span
        >
    </span>
    <h2>Connexion à votre compte</h2>
    <div class="form-group">
        <label for="username">Pseudo :</label><br />
        <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            [(ngModel)]="username"
            required
            autofocus
        />
    </div>
    <div class="form-group">
        <label for="password">Mot de passe :</label><br />
        <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="password"
            required
        />
    </div>
    <span class="form-error" *ngIf="error">{{ error }}</span>
    <div class="buttons-container">
        <button
            type="submit"
            class="submit-button"
            [disabled]="!registerForm.valid || isLoading"
        >
            <span *ngIf="!isLoading"
                ><fa-icon [icon]="['fas', 'sign-in-alt']"></fa-icon>Se
                connecter</span
            >
            <span *ngIf="isLoading">
                <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon
                >&nbsp;Chargement...
            </span>
        </button>
        <br />
        <button
            type="button"
            class=""
            id="google-button"
            class="google-button"
            (click)="loginWithGoogle()"
        >
            <fa-icon [icon]="['fab', 'google']"></fa-icon>Se connecter avec
            Google
        </button>
        <div class="form-links">
            <span (click)="navigateToReset()">Mot de passe oublié ?</span>
            <span (click)="navigateToRegister()">Pas encore inscrit ?</span>
        </div>
    </div>
</form>
<form
    (ngSubmit)="sendResetEmail()"
    #resetForm="ngForm"
    *ngIf="screen === 'reset'"
>
    <h2>Mot de passe oublié</h2>
    <div class="form-group">
        <label for="email">Adresse email associée au compte :</label><br />
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="email"
            required
            autofocus
        />
    </div>
    <span class="form-error" *ngIf="error">{{ error }}</span>
    <button
        type="submit"
        class="submit-button"
        [disabled]="!resetForm.valid || isLoading"
    >
        <span *ngIf="!isLoading"
            ><fa-icon [icon]="['fas', 'paper-plane']"></fa-icon>Envoyer un lien
            de récupération</span
        >
        <span *ngIf="isLoading">
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon
            >&nbsp;Chargement...
        </span>
    </button>
    <div class="form-links">
        <span (click)="navigateToLogin()">Retour à l'écran de connexion</span>
    </div>
</form>
