<div class="qdj-class">{{ question.theme.name }}</div>
<div
    class="qdj-difficulty"
    title="Question {{
        ['très facile', 'facile', 'moyenne', 'difficile', 'très difficile'][
            question.difficulty - 1
        ]
    }}"
>
    <div *ngFor="let i of [1, 2, 3, 4, 5]" class="difficulty-icon">
        <fa-icon
            [icon]="['fas', 'star']"
            [class]="i <= question.difficulty ? 'active' : ''"
        ></fa-icon>
    </div>
</div>

<h1 class="quizzmodule-slide-question">{{ question.question }}</h1>
<div class="photo-answer">
    <ul class="quizzmodule-slide-answers">
        <li *ngFor="let answer of shuffledAnswers; let i = index">
            <input
                type="radio"
                name="q{{ question._id }}"
                value="a{{ i }}"
                id="q{{ question._id }}a{{ i }}"
                [checked]="selectedAnswerIndex === getOriginalIndex(i)"
            />
            <label
                for="q{{ question._id }}a{{ i }}"
                [ngClass]="{
                    selected: selectedAnswerIndex === getOriginalIndex(i)
                }"
                (click)="selectAnswer(getOriginalIndex(i))"
                *ngIf="!answerValidated"
            >
                {{ answer.answer }}
            </label>
            <label
                [ngClass]="{
                    incorrect:
                        selectedAnswerIndex == getOriginalIndex(i) &&
                        !answer.correct &&
                        !questionOptions.hideAnswers,
                    correct: answer.correct && !questionOptions.hideAnswers,
                    hidden: questionOptions.hideAnswers,
                    'answer-status': true
                }"
                *ngIf="answerValidated"
            >
                <span
                    class="answer-status-icon"
                    *ngIf="!questionOptions.hideAnswers"
                >
                    <fa-icon
                        [icon]="
                            answer.correct ? ['fas', 'check'] : ['fas', 'times']
                        "
                    ></fa-icon>
                </span>
                {{ answer.answer }}
                <img
                    class="answer-status-opponent"
                    *ngIf="
                        questionOptions.opponent &&
                        questionOptions.opponent.answer == getOriginalIndex(i)
                    "
                    src="{{ questionOptions.opponent.avatarUrl }}"
                    title="Réponse de {{
                        questionOptions.opponent.displayName
                    }}"
                    height="26"
                    width="26"
                />
                <img
                    class="answer-status-opponent"
                    *ngIf="
                        questionOptions.opponent1 &&
                        questionOptions.opponent1.answer == getOriginalIndex(i)
                    "
                    src="{{ questionOptions.opponent1.avatarUrl }}"
                    title="Réponse de {{
                        questionOptions.opponent1.displayName
                    }}"
                    height="26"
                    width="26"
                />
                <img
                    class="answer-status-opponent"
                    *ngIf="
                        questionOptions.opponent2 &&
                        questionOptions.opponent2.answer == getOriginalIndex(i)
                    "
                    src="{{ questionOptions.opponent2.avatarUrl }}"
                    title="Réponse de {{
                        questionOptions.opponent2.displayName
                    }}"
                    height="26"
                    width="26"
                />
            </label>
        </li>
    </ul>
</div>
