@import "../../styles/variables";

.qdjlogo {
    position: absolute;
    margin-top: -45px;
    max-width: 100%;
    display: flex;
    align-items: center;
    background: $tertiary-color;
    color: $tertiary-text-color;
    font-family: Epica Sans Pro Black, Impact, Haettenschweiler,
        "Arial Narrow Bold", sans-serif !important;
    font-size: larger;
    letter-spacing: 0.03em;
    padding: 10px 37px 10px 40px;
    border-radius: 69px;
    flex-direction: row;
    justify-content: center;
    border: solid 7px $secondary-color;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.module-content-container {
    margin: auto;
}

.spinner {
    font-size: 32px;
    color: $secondary-text-color;
}

.button-start {
    font-size: larger;
    padding: 10px 37px 10px 40px !important;
    border-radius: 69px;
}

.button-start:not(:disabled) {
    border: solid 1px $secondary-text-color;
}

.button-start:not(:disabled):hover,
.button-start:not(:disabled):focus {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.rankingmodule-slide-ranking {
    list-style: none;
    margin: 0;
    margin-top: 10px;
    padding: 3px 0;
}

.rankingmodule-slide-ranking a {
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 11px 20px;
    border: 0 solid #ddd;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    color: $primary-text-color;
    font-weight: 600;
}

.rankingmodule-is-current-user {
    background-color: #ffe5ac !important;
}

.rankingmodule-slide-ranking a:last-child {
    margin-bottom: 0;
}

.rankingmodule-slide-ranking-position {
    font-size: 1.2rem;
    margin-right: 10px;
}

.rankingmodule-slide-ranking-name {
    font-size: 1.1rem;
    color: $primary-text-color;
    margin-right: 10px;
}

.rankingmodule-slide-ranking-name:hover {
    cursor: pointer;
}

.rankingmodule-slide-ranking-score {
    font-size: 1.2rem;
}

.results {
    margin: 20px auto;
    color: $secondary-text-color;
    font-size: 1.2rem;
}
