@import "../../styles/variables";

.qdjlogo {
    position: absolute;
    margin-top: -45px;
    max-width: 100%;
    display: flex;
    align-items: center;
    background: $tertiary-color;
    color: $tertiary-text-color;
    font-family: Epica Sans Pro Black, Impact, Haettenschweiler,
        "Arial Narrow Bold", sans-serif !important;
    font-size: larger;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    padding: 10px 37px 10px 40px;
    border-radius: 69px;
    flex-direction: row;
    justify-content: center;
    border: solid 7px $secondary-color;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.module-content-container:not(.not-centered) {
    margin: auto;
}

.spinner {
    font-size: 32px;
    color: $secondary-text-color;
}

.button-start {
    font-size: larger;
    padding: 10px 37px 10px 40px !important;
    border-radius: 69px;
}

.button-start:not(:disabled) {
    border: solid 1px $secondary-text-color;
}

.button-start:not(:disabled):hover,
.button-start:not(:disabled):focus {
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
}

.rankingmodule-slide-ranking {
    list-style: none;
    margin: 0;
    margin-top: 25px;
    padding: 3px 0;
}

.rankingmodule-slide-ranking .rankingmodule-slide-ranking-user {
    list-style-type: none;
    justify-content: space-between;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 11px 20px;
    border: 0 solid #ddd;
    border-radius: 40px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    color: $primary-text-color;
    font-weight: 600;
    min-height: 48px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.rankingmodule-is-current-user {
    background-color: #ffe5ac !important;
}

.rankingmodule-slide-ranking .rankingmodule-slide-ranking-user:last-child {
    margin-bottom: 0;
}

.rankingmodule-slide-ranking .rankingmodule-slide-ranking-user:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.rankingmodule-slide-ranking-position {
    font-size: 1.2rem;
    margin-right: 10px;
}

.rankingmodule-slide-ranking-user-info {
    display: flex;
    align-items: center;

    .rankingmodule-slide-ranking-avatar {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .rankingmodule-slide-ranking-name {
        font-size: 1.1rem;
        color: $primary-text-color;
        margin-right: 10px;
    }

    .rankingmodule-slide-ranking-live {
        background-color: #ff1414;
        border-color: #9f4141;
        padding: 5px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }

    .rankingmodule-slide-ranking-live-own {
        background-color: $secondary-color;
        border-color: #4469ac;
        padding: 5px;
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }
}

.rankingmodule-slide-ranking-name:hover {
    cursor: pointer;
}

.rankingmodule-slide-ranking-score {
    font-size: 1.2rem;
}

.results {
    margin: 25px auto;
    color: $secondary-text-color;
    font-size: 1.2rem;
    text-wrap: balance;

    a {
        color: $secondary-text-color;
    }

    h2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 5px;

        img {
            border-radius: 50%;
            width: 32px;
            height: 32px;
            border: 1px solid $secondary-text-color;
        }
    }

    .answers {
        margin: 5px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;

        fa-icon {
            margin: 0 3px;
        }

        .correct {
            color: $secondary-success-color;
        }

        .incorrect {
            color: $secondary-error-color;
        }
    }

    .elo-change,
    .custom-result {
        display: block;
        margin: 25px auto;
        background-color: $quaternary-color;
        color: $quaternary-text-color;
        padding: 5px 14px;
        width: min-content;
        border-radius: 16px;
    }

    .elo-change.positive {
        border: 1px solid $secondary-success-color;
    }

    .elo-change.negative {
        border: 1px solid $secondary-error-color;
    }

    .custom-result {
        width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            margin: 5px 0;
        }
        img {
            border-radius: 16px;
        }
    }
}
