<div class="qdjlogo">
    {{ moduleTitle }}
</div>
<div
    *ngIf="
        moduleType == 'question' &&
        question &&
        !moduleParams.noMoreAllowedQuestions &&
        !moduleParams.matchEnded
    "
    class="module-content-container"
>
    <app-question
        [question]="question"
        [answerValidated]="answerValidated"
        [selectedAnswerIndex]="selectedAnswerIndex"
        (selectedAnswer)="selectAnswer($event)"
    ></app-question>
    <div>
        <button
            class="button-start transparent"
            *ngIf="answerValidated"
            (click)="next()"
        >
            {{ moduleParams.nextButtonString || "Une autre !" }}
        </button>
        <button
            class="button-start transparent"
            *ngIf="!answerValidated"
            (click)="validateAnswer()"
            [disabled]="selectedAnswerIndex == -1"
        >
            Valider
        </button>
    </div>
</div>
<div
    *ngIf="
        moduleType == 'question' &&
        moduleParams.matchEnded &&
        !moduleParams.noMoreAllowedQuestions
    "
    class="module-content-container"
>
    <div class="results">
        <h1>Résultats :</h1>
        <div class="individual-results">
            <br />
            <h2>{{ moduleParams.score }}/10</h2>
            <br />
            <div class="answers" *ngIf="moduleParams.answers">
                <div
                    class="icon"
                    *ngFor="let answer of moduleParams.answers; let i = index"
                    [title]="moduleParams.questions[i].question"
                >
                    <fa-icon
                        *ngIf="
                            moduleParams.questions[i].answers[
                                moduleParams.answers[i]
                            ].correct
                        "
                        [icon]="['fas', 'circle-check']"
                        class="correct"
                    ></fa-icon>
                    <fa-icon
                        *ngIf="
                            !moduleParams.questions[i].answers[
                                moduleParams.answers[i]
                            ].correct
                        "
                        [icon]="['fas', 'circle-xmark']"
                        class="incorrect"
                    ></fa-icon>
                </div>
            </div>
        </div>
        <div class="custom-result">
            <span *ngIf="moduleParams.score < 5">
                Vous pouvez mieux faire !
            </span>
            <span *ngIf="moduleParams.score >= 5 && moduleParams.score < 9">
                Pas mal ! Révisez un peu et vous serez imbattable !
            </span>
            <span *ngIf="moduleParams.score >= 9">
                Vous semblez prêt pour affronter les meilleurs !
            </span>
            <img
                *ngIf="moduleParams.score == 0"
                src="/assets/images/il_a_eu_0_sur_20.jpg"
                alt="Il a eu 0 sur 20"
                height="200"
                width="150"
            />
        </div>
    </div>
    <div>
        <button class="button-start" (click)="next()">
            {{ moduleParams.leaveString || "Quitter le match" }}
        </button>
    </div>
</div>
<div
    *ngIf="moduleType == 'question' && moduleParams.noMoreAllowedQuestions"
    class="module-content-container"
>
    <div class="results">
        Vous avez répondu à toutes les questions autorisées pour aujourd'hui.
        <br />
        <span *ngIf="moduleParams.userIsLogged">
            Revenez demain pour continuer à jouer !
            <br />
            <span *ngIf="moduleParams.waitingMessage">Temps restant :</span>
            {{ moduleParams.waitingMessage }}
        </span>
        <span *ngIf="!moduleParams.userIsLogged">
            <a routerLink="/register">Créez un compte</a> pour continuer à jouer
            et grimper dans les classements !
        </span>
    </div>
</div>
<div
    *ngIf="moduleType == 'match' && question && !moduleParams.matchEnded"
    class="module-content-container"
>
    <app-question
        [question]="question"
        [answerValidated]="answerValidated"
        [questionOptions]="{
            hideAnswers: moduleParams.hideAnswers,
            opponent: moduleParams.opponent || null,
            opponent1: moduleParams.opponent1 || null,
            opponent2: moduleParams.opponent2 || null,
            spectator: moduleParams.spectator,
        }"
        (selectedAnswer)="selectAnswer($event)"
        [selectedAnswerIndex]="selectedAnswerIndex"
    ></app-question>
    <div>
        <button
            class="button-start"
            *ngIf="answerValidated && !moduleParams.nextQuestionReady"
            disabled
        >
            <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
            {{
                moduleParams.waitingForAnswerText ||
                    "En attente de l'adversaire..."
            }}
            <br />
            <span
                class="timer"
                [ngStyle]="{ color: timerColor }"
                *ngIf="timeLeft"
            >
                {{ timeLeft }}</span
            >
        </button>
        <button
            class="button-start"
            *ngIf="answerValidated && moduleParams.nextQuestionReady"
            (click)="next()"
        >
            {{ moduleParams.nextQuestionText || "Question suivante" }}
        </button>
        <button
            class="button-start"
            *ngIf="!answerValidated"
            (click)="validateAnswer()"
            [disabled]="selectedAnswerIndex == -1"
        >
            Valider
            <br />
            <span
                class="timer"
                [ngStyle]="{ color: timerColor }"
                *ngIf="timeLeft"
            >
                {{ timeLeft }}</span
            >
        </button>
    </div>
</div>
<div
    *ngIf="moduleType == 'match' && moduleParams.matchEnded"
    class="module-content-container"
>
    <div class="results">
        <h3 *ngIf="moduleParams.matchObj.winner">Vainqueur :</h3>
        <h2 *ngIf="moduleParams.matchObj.winner">
            <img
                [src]="moduleParams.matchObj.winner.avatarUrl"
                alt="Avatar"
                height="32"
                width="232"
                class="avatar"
            />
            {{
                moduleParams.matchObj.winner.displayName ||
                    moduleParams.matchObj.winner.username
            }}
        </h2>
        <h2 *ngIf="!moduleParams.matchObj.winner">Match nul</h2>
        <div
            class="individual-results"
            *ngFor="let user of moduleParams.matchObj.users"
        >
            <br />
            {{ user.displayName || user.username }}
            :
            {{ moduleParams.scores[user._id] }}/10
            <br />
            <div class="answers">
                <div
                    class="icon"
                    *ngFor="let answer of moduleParams.answers; let i = index"
                    [title]="moduleParams.matchObj.questions[i].question"
                >
                    <fa-icon
                        *ngIf="
                            moduleParams.matchObj.questions[i].answers[
                                moduleParams.answers[i][user._id]
                            ] &&
                            moduleParams.matchObj.questions[i].answers[
                                moduleParams.answers[i][user._id]
                            ].correct
                        "
                        [icon]="['fas', 'circle-check']"
                        class="correct"
                    ></fa-icon>
                    <fa-icon
                        *ngIf="
                            !moduleParams.matchObj.questions[i].answers[
                                moduleParams.answers[i][user._id]
                            ] ||
                            !moduleParams.matchObj.questions[i].answers[
                                moduleParams.answers[i][user._id]
                            ].correct
                        "
                        [icon]="['fas', 'circle-xmark']"
                        class="incorrect"
                    ></fa-icon>
                </div>
            </div>
        </div>
        <span
            *ngIf="moduleParams.eloChange"
            [class]="
                'elo-change' +
                (moduleParams.eloChange > 0
                    ? ' positive'
                    : moduleParams.eloChange < 0
                    ? ' negative'
                    : '')
            "
        >
            {{ moduleParams.eloChange > 0 ? "+" : ""
            }}{{ moduleParams.eloChange }}&nbsp;🏆
        </span>
    </div>
    <div>
        <button class="button-start" (click)="next()">Quitter le match</button>
    </div>
</div>
<div
    *ngIf="moduleType == 'ranking' && ranking && ranking.length > 0"
    class="module-content-container not-centered"
    style="width: 90%"
>
    <ul class="rankingmodule-slide-ranking">
        <div
            *ngFor="let user of ranking; let i = index"
            class="rankingmodule-slide-ranking-user"
            [routerLink]="['/profile', user.username]"
            [ngClass]="{
                'rankingmodule-is-current-user': user._id == moduleParams.userId
            }"
        >
            <div class="rankingmodule-slide-ranking-position">{{ i + 1 }}</div>
            <div class="rankingmodule-slide-ranking-user-info">
                <img
                    [src]="user.avatarUrl"
                    class="rankingmodule-slide-ranking-avatar"
                    alt="Avatar"
                    height="26"
                    width="26"
                />
                <div class="rankingmodule-slide-ranking-name">
                    {{ user.displayName }}
                </div>
                <button
                    [ngClass]="{
                        'rankingmodule-slide-ranking-live':
                            !user.isCurrentDuelUser,
                        'rankingmodule-slide-ranking-live-own':
                            user.isCurrentDuelUser
                    }"
                    *ngIf="user.currentDuelId"
                    [routerLink]="['/multiplayer', user.currentDuelId]"
                    [title]="
                        user.isCurrentDuelUser
                            ? 'Regagner la partie'
                            : 'Regarder la partie'
                    "
                >
                    <fa-icon
                        [icon]="['fas', 'eye']"
                        *ngIf="!user.isCurrentDuelUser"
                    ></fa-icon>
                    <fa-icon
                        [icon]="['fas', 'door-open']"
                        *ngIf="user.isCurrentDuelUser"
                    ></fa-icon>
                </button>
            </div>
            <div
                class="rankingmodule-slide-ranking-score"
                *ngIf="moduleParams.rankBy == 'elo'"
            >
                {{ user.elo }}&nbsp;🏆
            </div>
            <div
                class="rankingmodule-slide-ranking-score"
                *ngIf="moduleParams.rankBy == 'nbGames' && user.stats"
            >
                {{
                    user.stats.duels.wins +
                        user.stats.duels.losses +
                        user.stats.duels.draws
                }}
            </div>
            <div
                class="rankingmodule-slide-ranking-score"
                *ngIf="moduleParams.rankBy == 'nbWins' && user.stats"
            >
                {{ user.stats.duels.wins }}
            </div>
            <div
                class="rankingmodule-slide-ranking-score"
                *ngIf="moduleParams.rankBy == 'nbGoodAnswers' && user.stats"
            >
                {{ user.stats.questions.right }}
            </div>
        </div>
    </ul>
</div>
<div
    *ngIf="
        ((moduleType == 'question' || moduleType == 'match') && !question) ||
        (moduleType == 'ranking' && (!ranking || ranking.length == 0))
    "
    class="module-content-container spinner"
>
    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</div>
