$primary-color: radial-gradient(circle, rgba(192, 200, 209, 1) 42%, rgba(255, 255, 255, 1) 87%);
$secondary-color: #13375e;
$tertiary-color: #102741;
$primary-text-color: #13375e;
$secondary-text-color: #fff;
$tertiary-text-color: #fff;

$input-color: #d7d7d7;
$input-text-color: #000;

$button-color: #c0c0c0;
$button-text-color: #000;
$button-disabled-color: #999;
$button-disabled-text-color: #666;
