$primary-color: #eee;
$secondary-color: #ccc;
$text-color: #000;

$input-color: #d7d7d7;
$input-text-color: #000;

$button-color: #c0c0c0;
$button-text-color: #000;
$button-disabled-color: #999;
$button-disabled-text-color: #666;
