$primary-font: Averta, Verdana, Geneva, Tahoma, sans-serif;

$primary-color: radial-gradient(
    circle,
    rgba(192, 200, 209, 1) 42%,
    rgba(255, 255, 255, 1) 87%
);
$secondary-color: #13375e;
$tertiary-color: #102741;
$quaternary-color: #173251;
$primary-text-color: #13375e;
$secondary-text-color: #fff;
$tertiary-text-color: #fff;
$quaternary-text-color: #fff;

$input-color: #ececec;
$input-text-color: #000;

$button-color: #102741;
$button-text-color: #d7d7d7;
$button-disabled-color: #3a4c60;
$button-disabled-text-color: #aaa;

$primary-link-color: #13375e;
$secondary-link-color: #c4ecff;
$primary-success-color: #008a00;
$secondary-success-color: #36df36;
$primary-warning-color: #b75712;
$secondary-warning-color: #ff9d00;
$primary-error-color: #8e0000;
$secondary-error-color: #fb0000;
$third-error-color: #d31c1c;
